@using System.Configuration
@using System.Globalization

@{
	Layout = null;
	ViewBag.debugQs = "?v=" + ConfigurationManager.AppSettings["ResourcesVersion"];
	ViewBag.Debug = false;
	ViewBag.DebugChrome = false;
	ViewBag.ADS = false;

	ViewBag.Client = "Html5";

	if (Request.QueryString["debug"] != null)
	{
		ViewBag.DebugQs = "?debug=true&v=" + ConfigurationManager.AppSettings["ResourcesVersion"];
		ViewBag.Debug = true;
		if (Request.QueryString["debug"] == "chrome")
		{
			ViewBag.Debug = false;
			ViewBag.DebugChrome = true;
			ViewBag.DebugQs = "";
		}
	}
	ViewBag.sdkPath = "http://www.worldwidetelescope.org/scripts/wwtsdk.aspx" + ViewBag.debugQs;
	if (Request.QueryString["ads"] != null)
	{
		ViewBag.ADS = true;
	}
	if (Request.Cookies["preferredClient"] != null)
	{
		switch (Request.Cookies["preferredClient"].Value)
		{
			case "SL":
				ViewBag.Client = "Silverlight";
				break;
			case "WWT":
				ViewBag.Client = "WWT";
				break;
			default:
				ViewBag.Client = "Html5";
				break;
		}
	}
	if (Request.QueryString["client"] != null)
	{
		HttpCookie cookie = Request.Cookies["preferredClient"] ?? new HttpCookie("preferredClient");
		char c = Request.QueryString["client"].ToString(CultureInfo.InvariantCulture).ToLower().ToCharArray()[0];
		if (c == 'h')
		{
			ViewBag.Client = "Html5";
			cookie.Value = "HTML5";
		}
		else if (c == 's')
		{
			ViewBag.Client = "Silverlight";
			cookie.Value = "SL";
		}
		else if (c == 'w')
		{
			ViewBag.Client = "WWT";
			cookie.Value = "WWT";
		}
		HttpContext.Current.Response.Cookies.Add(cookie);

	}
	if (ViewBag.Client == "Silverlight")
	{
		ViewBag.WTML = Request.Params["wtml"];
		ViewBag.Tour = Request.Params["tour"];
		ViewBag.webkey = ConfigurationManager.AppSettings["webkey"];
	}

	// TODO: put wwt behavior here...
	
	
}

<!DOCTYPE html>

<html>
<head>
	<title>WorldWide Telescope Web Client</title>
	@if (ViewBag.Client == "Html5"){ 
	<link href="@Model.CssDir/bootstrap.css?v=@Model.ResVer" rel="stylesheet" />
	<link href="@Model.CssDir/bootstrap-theme.min.css?v=@Model.ResVer" rel="stylesheet" />
	<link href="@Model.CssDir/angular-motion.css?v=@Model.ResVer" rel="stylesheet" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href="@Model.ResLoc/webclient/ext/introjs.css?v=@Model.ResVer" rel="stylesheet" />
	<style>
		html, body.fs-player, iframe {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		.finder-scope {
			background: url(@Model.ImgDir/finder-scope.png?v=@Model.ResVer) no-repeat;
		}
	</style>
	
	<script type="text/javascript" src="@ViewBag.sdkPath"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" type="text/javascript"></script>
	<script src="@Model.JsDir/ext/bootstrap.min.js"></script>
		if (ViewBag.Debug == true || ViewBag.DebugChrome == true)
		{
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-route.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-cookies.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-animate.js"></script>

			<script src="@Model.ResLoc/webclient/ext/angular-strap.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/ext/angular-strap.tpl.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/ext/intro.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/ext/angular-intro.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/app.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/factories/appstate.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/factories/localization.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/factories/FinderScope.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/factories/Util.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/dataproxy/Places.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/dataproxy/Tours.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/dataproxy/SearchData.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/MainController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/ViewController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/ThumbnailController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/ToursController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/SettingsController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/IntroController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/popovers/ObservingTimeController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/LayerManagerController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/modals/OpenItemController.js?v=@Model.ResVer"></script>
			<script src="@Model.ResLoc/webclient/controllers/AdsController.js?v=@Model.ResVer"></script>
			<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
			<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
		}
		else
		{
			<script src="@Model.ResLoc/webclient/wwtwebclient.min.js?v=@Model.ResVer"></script> 
		}
	}
	else if (ViewBag.Client == "Silverlight")
	{ 
		<style type="text/css">
			html, body {
				height: 100%;
				overflow: hidden;
			}

			body {
				padding: 0;
				margin: 0;
			}

			#silverlightControlHost {
				height: 100%;
			}
		</style>
		<script src="fblogin.js" type="text/javascript"></script>
		<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"
				type="text/javascript">
		</script>

		<script type="text/javascript">
			function onSilverlightError(sender, args) {
				return;


			}
		</script>
		<link rel="icon" type="image/png" href="favicon.png" />

	}
</head>
<body class="fs-player wwt-webclient-wrapper" data-ng-app="wwtApp" data-res-location="@Model.ResLoc" data-version="@Model.ResVer">
	<form id="HtmlForm" runat="server" class="hide"></form>
	@if (ViewBag.Client == "Html5")
	{
	<div data-ng-controller="MainController" ng-cloak ng-init="initUI()">
		<ng-include src="'views/modals/finder-scope.html'" onload="initFinder()"></ng-include>


		<div data-ng-controller="ViewController"></div>

		<ul class="dropdown-menu" role="menu" id="topMenu"></ul>


		<div id="ribbon">
			<a class="btn pull-right" href="/Download/" target="wwt">
				<i class="fa fa-download"></i>
				{{getFromEn('Install Windows Client')}}
			</a>
			<ul class="wwt-tabs">
				<li data-ng-repeat="tab in ribbon.tabs" data-ng-class="activePanel == tab.label ? 'active' : ''">
					<div class="outer">
						<a href="javascript:void(0)">
							<span class="label" data-ng-click="tabClick(tab)" id="{{tab.button}}">{{getFromEn(tab.label)}}</span>
							<div class="menu" data-ng-click="menuClick(tab.menu)" id="tabMenu{{$index}}" data-target="#menu{{$index}}">
								<i class="fa fa-caret-down"></i>
							</div>
						</a>
					</div>
				</li>
			</ul>

		</div>

		<div class="{{topExpanded ? 'top-panel top-expanded' : 'top-panel'}}" id="topPanel">

			<div ng-show="activePanel == 'Explore'"
				 class="{{expanded?'explore-panel rel expanded':'explore-panel rel'}}"
				 ng-controller="ThumbnailController"
				 ng-init="initExploreView()">
				<span ng-repeat="bc in breadCrumb" class="bc"><a href="javascript:void(0)" ng-click="breadCrumbClick($index)">{{bc}}</a>&nbsp;>&nbsp;</span><br />
				<div style="display: inline-block;vertical-align:top;" ng-repeat="item in exploreList" id="exploreList">
					<ng-include src="'views/thumbnail.html'" onload="initFinder()"></ng-include>
				</div>
				<label class="wwt-pager">
					<a href="javascript:void(0)" data-ng-disabled="currentPage == 0" ng-click="goBack()">
						<i class="fa fa-play reverse"></i>
					</a>
					{{(currentPage+1)}} of {{pageCount}}
					<a href="javascript:void(0)" ng-disabled="currentPage == pageCount - 1" ng-click="goFwd()">
						<i class="fa fa-play"></i>
					</a>
				</label>
				<a class="{{expanded ? 'expanded btn tn-expander' : 'btn tn-expander'}}" ng-click="expandThumbnails()">
					<i class="fa fa-caret-down" style="position:relative;top:-5px;" ng-if="!expanded"></i>
					<i class="fa fa-caret-up" style="position:relative;top:-5px;" ng-if="expanded"></i>
				</a>
			</div>
			<ng-include src="'views/tours.html'"></ng-include>
			<div data-ng-show="activePanel == 'Search'" ng-controller="ThumbnailController" ng-init="initSearch()">
				<div style="margin:-4px 0 1px;">
					<div style="padding:4px 100px 0 4px;" class="iblock input-group">
						<input type="search" id="txtSearch" ng-model="q" ng-keypress="searchKeyPress()" placeholder="{{getFromEn('Object Search')}}" style="width:200px" />
						<span class="fa fa-search form-control-feedback rel" style="left:-22px"></span>

					</div>
					<!--<div class="checkbox" style="display: inline-block">
						<label data-ng-class="chkPlotResults ? 'checked' : ''">
							<input type="checkbox" ng-model="chkPlotResults" />
							{{getFromEn('Plot Results')}}
						</label>
					</div>
					<a class="btn">{{getFromEn('VO Search')}}</a>-->

					<div style="padding:4px 0 0 4px;display: inline-block">
						<div class="select">
							<select ng-model="SearchType">
								<option value="J2000">{{getFromEn('J2000')}}</option>
								<!--

									<option>{{getFromEn('Alt/Az')}}</option>--%>
									<option value="Galactic">{{getFromEn('Galactic')}}</option>
									<option value="Ecliptic">{{getFromEn('Ecliptic')}}</option>-->
							</select>

						</div>
						&nbsp;
						<label>
							{{getFromEn('RA')}}
							<input type="number" style="width:100px" ng-model="RA" />
						</label>

						<label>
							{{getFromEn('Dec')}}
							<input type="number" style="width:100px" ng-model="Dec" />
						</label>
						<a class="btn" ng-click="gotoCoord()">{{getFromEn('Go')}}</a>

					</div>
				</div>
				<div class="search-results">
					<div style="display: inline-block;vertical-align:top;" ng-repeat="item in searchResultSet">
						<span ng-if="item.get_thumbnailUrl().length > 15" class="thumbwrap">
							<ng-include src="'views/research-menu.html'" ng-if="$index == 0"></ng-include>

							<a ng-click="clickThumb(item)" title="{{item.get_name()}}" ng-class="item.get_thumbnailUrl() + item.get_name() == activeItem ? 'thumbnail active' : 'thumbnail'">
								<img ng-src="{{item.get_thumbnailUrl()}}" alt="Thumbnail of {{item.get_name()}}" />
								<label>{{item.get_name()}}</label>
							</a>
							<div ng-if="!item.get_isFolder()" class="dropdown" ng-mouseenter="moveMenu($index,item)" id="menuContainer{{$index}}">
								<span bs-popover="popover" class="thumb-popover" style="height:0;width:100%;display:block"
									  data-placement="bottom{{$index==0?'-left':''}}" tabindex="0"
									  data-content-template="/webclient/views/popovers/property-panel.html"
									  data-container="body">&nbsp;</span>
								<a data-toggle="dropdown" role="button" ng-click="showMenu(item,$index)" class="yellow-arrow">
									<img src="/Content/Images/webclient/context-menu-arrow.png" class="menu" />
								</a>
							</div>
						</span>
					</div>
				</div>
				<label class="wwt-pager" ng-show="searchResults.length > 0">
					<a href="javascript:void(0)" data-ng-disabled="currentPage == 0" ng-click="goBack()">
						<i class="fa fa-play reverse"></i>
					</a>
					{{(currentPage + 1)}} of {{pageCount}}
					<a href="javascript:void(0)" ng-disabled="currentPage == pageCount - 1" ng-click="goFwd()">
						<i class="fa fa-play"></i>
					</a>
				</label>
			</div>
			<div data-ng-show="activePanel == 'View'" data-ng-controller="ViewController">

				<div class="layer-manager-toggle">
					<label>{{getFromEn('Use Layer Manager to Control User Settings')}}</label>
					<a href="javascript:void(0)" class="layer-manager-icon" title="{{getFromEn('Show/Hide Layer Manager')}}" ng-click="toggleLayerManager()">
						&nbsp;
					</a>
				</div>
				<fieldset>

					<div>
						<label>{{getFromEn('Name')}}:</label> <label>{{locationName}}</label>
					</div>
					<div>
						<div class="pull-right"><label>{{getFromEn('Alt')}}:</label> <label>{{UITools.formatDistance(ctl.settings.get_locationAltitude())}}</label></div>
						<label>{{getFromEn('Lat')}}:</label> <label>{{formatHms(ctl.settings.get_locationLat())}}</label>
					</div>
					<div class="clearfix">
						<label>{{getFromEn('Lng')}}:</label> <label>{{formatHms(ctl.settings.get_locationLng())}}</label>
					</div>
					<div class="checkbox">
						<label data-ng-class="viewFromLocation ? 'checked' : ''">
							<input type="checkbox" ng-model="viewFromLocation" ng-change="setViewFromLocation()" />
							{{getFromEn('View From This Location')}}
						</label>
					</div>
				</fieldset>
				<fieldset>
					<a class="btn" bs-popover
					   title="{{getFromEn('Observing Time')}}"
					   data-content-template="views/popovers/observing-time.html"
					   ng-controller="ObservingTimeController"
					   data-animation="am-flip-x"
					   data-placement="bottom-right">
						{{now | date:'yyyy/MM/dd HH:mm:ss'}} &nbsp; <i class="fa fa-caret-down"></i>
					</a>
					<div><label>{{TimeMode}}</label></div>
					<div class="time-buttons">
						<a class="btn" ng-click="fastBack_Click()">
							<i class="fa fa-fast-backward"></i>

						</a>
						<a class="btn" ng-click="back_Click()">
							<i class="fa fa-backward"></i>

						</a>
						<a class="btn" ng-click="pause_Click()">

							<i class="fa fa-pause"></i>
						</a>
						<a class="btn" ng-click="play_Click()">

							<i class="fa fa-play"></i>
						</a>
						<a class="btn" ng-click="fastForward_Click()" id="btnFastFwd">
							<i class="fa fa-fast-forward"></i>

						</a>
						&nbsp;
						<a class="btn" ng-click="timeNow_Click()" id="btnTimeNow">Now</a>
					</div>

				</fieldset>
				<fieldset>
					<div class="checkbox">
						<label data-ng-class="galaxyMode ? 'checked' : ''">
							<input type="checkbox" ng-model="galaxyMode" ng-change="galaxyModeChange()" />
							{{getFromEn('Galactic Plane Mode')}}
						</label>
					</div>
				</fieldset>
			</div>
			<div data-ng-show="activePanel == 'Settings'" ng-controller="SettingsController">
				<fieldset>
					<div class="iblock">
						<div class="checkbox">
							<label data-ng-class="crosshairs ? 'checked' : ''">
								<input type="checkbox" ng-model="crosshairs" data-ng-change="saveSettings()" />
								{{getFromEn('Reticle/Crosshairs')}}
							</label>
						</div>
						<div class="checkbox">
							<label data-ng-class="autoHideTabs ? 'checked' : ''">
								<input type="checkbox" ng-model="autoHideTabs" data-ng-change="saveSettings()" />
								{{getFromEn('Auto Hide Tabs')}}
							</label>
						</div>
						<div class="checkbox">
							<label data-ng-class="autoHideContext ? 'checked' : ''">
								<input type="checkbox" ng-model="autoHideContext" data-ng-change="saveSettings()" />
								{{getFromEn('Auto Hide Context')}}
							</label>
						</div>
						<div class="checkbox">
							<label data-ng-class="smoothPanning ? 'checked' : ''">
								<input type="checkbox" ng-model="smoothPanning" data-ng-change="saveSettings()" />
								{{getFromEn('Smooth Panning')}}
							</label>
						</div>
					</div>

				</fieldset>

				<fieldset style="padding-bottom: 16px;">

					<label>{{getFromEn('Preferred Client')}}</label><br />
					<select ng-change="setClientPref()" ng-model="preferredClient" ng-options="c.code as c.label for c in availableClients"></select>
					<div class="checkbox">
						<label data-ng-class="WebGl ? 'checked' : ''">
							<input type="checkbox" ng-model="WebGl" data-ng-change="setWebGl()" />
							{{getFromEn('Use WebGL (if available)')}}
						</label>
					</div>
					<div ng-if="redirecting">
						{{getFromEn('Redirecting to Silverlight Client in')}} {{redirectingSeconds}} {{getFromEn('seconds')}}
						<a class="btn" ng-click="cancelRedir()">
							<i class="fa fa-stop"></i>
							{{getFromEn('Stop')}}
						</a>
					</div>
				</fieldset>
				<fieldset style="padding-bottom: 16px;">
					<label>{{getFromEn('Select Your Language')}}</label><br />
					<select ng-change="setLanguageCode(selectedLanguage)" ng-model="selectedLanguage" ng-options="l.code as l.label for l in availableLanguages"></select>
				</fieldset>
			</div>
			@if (ViewBag.ADS)
			{
				<div ng-init="initAds()"
					 data-ng-switch-when="ADS"
					 ng-controller="ADSController">
					<fieldset class="radio-buttons" style="padding-bottom: 3px;">
						<div class="iblock">
							<h5>{{getFromEn('Heatmap Options - Objects')}}</h5>
							<div class="iblock">
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'All' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="All" ng-change="adsChange()" />
										{{getFromEn('All')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Star' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Star" ng-change="adsChange()" />
										{{getFromEn('Stars')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Galaxy' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Galaxy" ng-change="adsChange()" />
										{{getFromEn('Galaxies')}}
									</label>
								</div>
							</div>
							<div class="iblock">
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'HII regions' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="HII regions" ng-change="adsChange()" />
										{{getFromEn('HII regions')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Nebula' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Nebula" ng-change="adsChange()" />
										{{getFromEn('Nebulae')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Other' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Other" ng-change="adsChange()" />
										{{getFromEn('Other')}}
									</label>
								</div>
							</div>

						</div>
						<div class="iblock rel">

							<h5 style="margin-left: 24px;">{{getFromEn('Bands')}}</h5>
							<div class="iblock" style="margin-left: 12px; padding-left: 12px; border-left: solid 1px #728f9a">
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Radio' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Radio" ng-change="adsChange()" />
										{{getFromEn('Radio')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Infrared' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Infrared" ng-change="adsChange()" />
										{{getFromEn('Infrared')}}
									</label>
								</div><div class="checkbox">
										  <label data-ng-class="fgImagery == 'year' ? 'checked' : ''">
											  <input type="radio" name="fgImagery" ng-model="fgImagery" value="year" ng-change="adsChange()" />
											  {{getFromEn('Year (use slider)')}}
										  </label>
									  </div>

							</div>
							<div class="iblock" style="vertical-align: top">
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'X-ray' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="X-ray" ng-change="adsChange()" />
										{{getFromEn('X-ray')}}
									</label>
								</div>
								<div class="checkbox">
									<label data-ng-class="fgImagery == 'Ultraviolet' ? 'checked' : ''">
										<input type="radio" name="fgImagery" ng-model="fgImagery" value="Ultraviolet" ng-change="adsChange()" />
										{{getFromEn('Ultraviolet')}}
									</label>
								</div>
								<div class="control" style="width: 200px">
									<div class="year-slider">
										<a class="btn" style="left: 55px">&nbsp;</a>
									</div>
									&nbsp;&nbsp;{{year}}
								</div>

							</div>
						</div>
					</fieldset>



				</div>
			}
		</div>
		<div class="layer-manager" ng-controller="LayerManagerController" ng-hide="layerManagerHidden" ng-init="initLayerManager()">
			<button aria-hidden="true" class="close pull-right" type="button" ng-click="toggleLayerManager()">×</button>
			<h5>
				{{getFromEn('Layers')}}
			</h5>
			<div class="tree" ng-class="tree.collapsed?'collapsed':''">
				<div class="checkbox">
					<i ng-class="tree.collapsed ? 'fa fa-plus-square-o' : 'fa fa-minus-square-o'" ng-click="tree.collapsed = !tree.collapsed;nodeChange(tree)"></i>
					<label data-ng-class="tree.checked ? 'checked' : ''">
						<input type="checkbox" ng-model="tree.checked" data-ng-change="nodeChange(tree)" />
						{{tree.name}}

					</label>
				</div>
				<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in tree.children">
					<ng-include src="'views/tree-node.html'"></ng-include>
					<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
						<ng-include src="'views/tree-node.html'"></ng-include>
						<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
							<ng-include src="'views/tree-node.html'"></ng-include>
							<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
								<ng-include src="'views/tree-node.html'"></ng-include>
								<div class="indent" ng-class="node.collapsed?'collapsed':''" ng-repeat="node in node.children">
									<ng-include src="'views/tree-node.html'"></ng-include>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="WorldWideTelescopeControlHost">
			<div id="WWTCanvas"></div>
		</div>
		<div class="context-panel">
			<div ng-class="lookAt == 'SolarSystem' ? 'solar-system-mode fov-panel' : 'fov-panel'">
				<div class="left" ng-if="lookAt != 'SolarSystem'">
					<p>{{getFromEn('N')}}</p>
					<div class="sphere">
						<div class="v-ellipse"></div>
						<div class="h-ellipse"></div>
						<div class="x-axis"></div>
						<div class="y-axis"></div>
					</div>
					<p>{{getFromEn('RA:')}} {{RA}}</p>
					<p>{{getFromEn('Dec:')}} {{Dec}}</p>
				</div>
				<div class="left" ng-if="lookAt == 'SolarSystem'">
					<div class="control">
						<label>{{getFromEn('Planet Size')}}</label>
						<div class="planetary-scale">
							<a class="btn"></a>
						</div>

					</div>
					<label class="pull-right">{{getFromEn('Large')}}</label>
					<label class="pull-left">{{getFromEn('Actual')}}</label>
					<div class="location">
						<p>{{getFromEn('Lat:')}} {{Lat}}</p>
						<p>{{getFromEn('Lng:')}} {{Lng}}</p>
					</div>
				</div>
				<div class="right">
					<p style="position: relative;top:3px;">
						{{getFromEn(constellations.fullNames[singleton.constellation])}}
						<span class="pull-right">{{Fov}}</span>
					</p>
					<div class="constellation-viewport" ng-click="gotoConstellation(singleton.constellation)">
						<img ng-src="{{constellations.constellationCentroids[singleton.constellation].get_thumbnailUrl()}}" />
					</div>
					<div class="bar"></div>
				</div>
			</div>
			<div class="controls">
				<div class="layer-manager-toggle iblock" id="btnToggleLayerMgr">

					<a href="javascript:void(0)"
					   class="layer-manager-icon"
					   title="{{getFromEn('Show/Hide Layer Manager')}}"
					   ng-click="toggleLayerManager()">
						&nbsp;
					</a>
				</div>
				<div class="control">
					<label>{{getFromEn('Look At')}}</label>
					<select id="lstLookAt"
							ng-init="lookAt = getFromEn('Sky')"
							ng-model="lookAt"
							ng-change="lookAtDropdownChanged()"
							ng-options="type for type in lookTypes"></select>
				</div>
				<div class="control">
					<label>{{getFromEn('Imagery')}}</label>
					<select id="lstImagery"
							ng-init="backgroundImagery.name = 'Digitized Sky Survey (Color)'"
							ng-model="backgroundImagery"
							ng-change="setSurveyBg()"
							ng-options="s.name for s in surveys">
						<option value="?">&nbsp;</option>
					</select>
				</div>
				<div class="control" ng-click="setSurveyProperties()">
					<label>{{getFromEn('Info')}}</label>
					<a class="btn"
					   bs-popover
					   title="{{getFromEn('Information')}}"
					   data-content-template="views/popovers/property-panel.html"
					   data-placement="top"><i class="fa fa-info-circle"></i></a>
				</div>
				<div class="control" style="display:none;padding-right:10px">
					<label>{{getFromEn('Image Crossfade')}}</label>
					<div class="cross-fader">
						<a class="btn">&nbsp;</a>
					</div>

				</div>

			</div>
			<div class="thumbnails nearby-objects rel" data-ng-controller="ThumbnailController" ng-init="initNearbyObjects()">
				<div class="rel" style="display: inline-block;vertical-align:top;" ng-repeat="item in nearbyPlaces">
					<span ng-if="item.get_thumbnailUrl().length > 15" class="thumbwrap">
						<ng-include src="'views/research-menu.html'" ng-if="$index == 0"></ng-include>
						<span bs-popover="popover" class="thumb-popover" style="height:0;width:100%;display:block"
							  data-placement="top{{$index==0?'-left':''}}" tabindex="0"
							  data-content-template="/webclient/views/popovers/property-panel.html"
							  data-container="body">&nbsp;</span>
						<a ng-click="clickThumb(item)" ng-mouseenter="hoverThumb(item)" ng-mouseleave="clearAnnotations()" title="{{item.get_name()}}" ng-class="item.get_thumbnailUrl() + item.get_name() == activeItem ? 'thumbnail active' : 'thumbnail'">
							<img ng-src="{{item.get_thumbnailUrl()}}" alt="Thumbnail of {{item.get_name()}}" />
							<label>{{item.get_name()}}</label>
						</a>
						<div ng-if="!item.get_isFolder()" class="dropup" ng-mouseenter="moveNboMenu($index,item)" id="nboMenuContainer{{$index}}">

							<a data-toggle="dropdown" role="button" ng-click="showMenu(item,$index)" class="yellow-arrow">
								<img src="/Content/Images/webclient/context-menu-arrow.png" class="menu" />
							</a>
						</div>
					</span>

				</div>
				<label class="wwt-pager">
					<div class="iblock tracking" ng-if="trackingObj" style="vertical-align: top;">
						<div>{{getFromEn('Tracking')}}</div>
						<div title="{{trackingObj.get_name()}}">{{trackingObj.get_name()}}</div>

					</div>
					<div class="iblock" style="vertical-align: top;">
						<a href="javascript:void(0)" data-ng-disabled="currentPage == 0" ng-click="goBack()">
							<i class="fa fa-play reverse"></i>
						</a>
						{{(currentPage+1)}} of {{pageCount}}
						<a href="javascript:void(0)" ng-disabled="currentPage == pageCount - 1" ng-click="goFwd()">
							<i class="fa fa-play"></i>
						</a>

					</div>
				</label>
			</div>

		</div>

		<ng-include src="'views/modals/intro.html'"></ng-include>
		<ng-include src="'views/modals/open-item.html'"></ng-include>
		<div ng-intro-autostart="false"
			 ng-intro-onbeforechange="beforeChange"
			 ng-intro-onafterchange="afterChange"
			 ng-intro-onexit="exit"
			 ng-intro-oncomplete="completed"
			 ng-intro-method="startIntro"
			 ng-intro-options="options"
			 ng-controller="IntroController" class="hide">
			<a ng-click="startIntro()" id="introStartButton"></a>
		</div>
	</div>
	}
	else if (ViewBag.Client == "Silverlight")
	{
		
		<div id="silverlightControlHost">
			<object id="_wwt_application" data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="100%">
				<param name="source" value="clientbin/WWTSL.xap" />
				<param name="onerror" value="onSilverlightError" />
				<param name="background" value="gray" />
				<param name="minRuntimeVersion" value="4.0.41108.0" />
				<param name="autoUpgrade" value="true" />
				<param name="initParams" value="wtml=@ViewBag.WTML,tour=@ViewBag.Tour,webkey=@ViewBag.webkey" />
				<div style="text-align:center;font-family:Arial;margin-top:50px;">
					This page requires Silverlight 4.<br />
					<br />
					<a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.41108.0" style="text-decoration:none">
						<img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style:none" />
					</a>
				</div>
			</object>
			<iframe style='visibility:hidden;height:0;width:0;border:0px'></iframe>
		</div>
	}

</body>
</html>