@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/Learn/LeftNav.cshtml")
}

<section>
    <h1>Exploring</h1>
    <p>Choose a topic below. (click to view)</p>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#guidedtours">
                        Guided Tours
                    </a>
                </h4>
            </div>
            <div id="guidedtours" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Guided tours drive WorldWide Telescope to show visuals to present a topic or tell a story.  Tours show data as a series of slides with transitions between view points and visualizations.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir\learn\Guided%20Tours%20Tab.jpg" alt="Guided Tours" />
                    <p>You can browse a library of tours by clicking “Guided Tours” tab.  You can also save and share tours yourself.  If you are browsing from within WorldWide Telescope, you will see a list of categories, such as “Learning WWT” and “Planets.”</p>
                    <p>Within each category is a list of Tours; as you mouse over each you will see a description and can download it by clicking the Play button.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Play%20Tour%20from%20List.jpg" alt="Play Guided Tour" />
                    <p>Some tours take a few seconds to download.  When it is finished downloading, the tour title will show up right of the uppermost menu.  If you interrupt the tour to explore you can return to the tour by clicking the title.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Play%20Loaded%20Tour.jpg" alt="Play loaded tour" />
                    <p>Pushing Play after the tour is downloaded starts the tour. Tours play full screen.  If the mouse is over the menus they will keep on top of the tour, so move it to the display to hide all menus.</p>
                    <p>You can hit F11 to go back and forth between a windowed and full screen view of WWT.</p>
                    <p>When the tour is running you can skip to a slide by clicking on the desired slide or use the arrow keys to go forward or backward through the slide list.  You can pause the tour by clicking the Pause button on the left of the slides.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Edit%20Tour.jpg" alt="edit tour" />
                    <p>You can edit the tour and then save your changes to a local copy you can share.  We will talk more about authoring tours in another tutorial, but you can start making content by first making edits to existing tutorials.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Save%20Tour.jpg" alt="save tour" />
                    <p>Note, tours can have separate narration and music tracks and you can adjust the volume of each separately.  Once you have saved a local copy you can update that saved version by clicking the Save button.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#IntroductoryAstronomy">
                        Introductory Astronomy
                    </a>
                </h4>
            </div>
            <div id="IntroductoryAstronomy" class="panel-collapse collapse ">
                <div class="panel-body">
                    <p>WorldWide Telescope allows you to explore real images obtained from some of the world’s most advanced telescopes.  These are the same images that professional astronomers use in their research.</p>
                    <p>When you are in Explore mode, you can investigate the current view in more detail.  You can zoom in and out using the Page-Up and Page-Down keys on your keyboard or the scroll wheel on your mouse.  You can move your view by clicking and moving your mouse in the main window.  You can also rotate the view by holding down the control key while you move your mouse.</p>
                    <p>
                        In the left-hand part of the lower menu, there is a pull-down to select what you are looking at and what imagery is displayed.  You can look at the Sky, which is what you are looking at now.
                    </p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Sky_DSS.jpg" alt="look at sky" data-coords="887,74" />
                    <p>
                        You can also select an exact image of the Sky with the Imagery pull-down.  Currently, you are looking at the optical view of the Sky, as captured by the Digitized Sky Survey.
                        You can use the Imagery pull-down to see the Sky in other wavelengths, such as this infrared view of the sky from the IRAS satellite.
                    </p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/Sky_IRAS.jpg" alt="look at wavelengths" data-coords="887,74" />
                    <p>You can also look at Earth, which brings up a 3D view of our planet as seen from space.  Note that this view only shows the Earth and does not include the effect of lighting from the Sun.  Just a blue marble in an empty universe.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/LookAtEarth.jpg" alt="look at earth" data-coords="887,74" />
                    <p>You can look at Planets, and other solar system worlds, such as Mars.  These views also show just the body of interest by itself.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/LookAtMars.jpg" alt="look at mars" data-coords="890,84" />
                    <p>In the next viewing mode, you can look at various Panoramas, which are wrap-around images taken from the surface of Earth, Mars, and Earth’s Moon.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/LookAtPano.jpg" alt="look at moon" data-coords="889,77" />
                    <p>The last viewing mode allows you to explore a 3d model of the Solar System, and indeed the entire universe, at least as much of it where we have good models.  The major components included are the Solar System, which includes planets, dwarf planets, moons and asteroids.  Beyond the Solar System is the Hippoarcos catalog of stars.  Then further out is a model of the Milky Way including a face on artistic view of our galaxy.  Pulling further out galaxies from the Sloan Digital Sky Survey (SDSS) are shown.</p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/LookAtSolarSystem.jpg" alt="look at solar system" data-coords="888,84" />

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#earthplanet">
                        Introductory Earth &amp; Planet
                    </a>
                </h4>
            </div>
            <div id="earthplanet" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>
                        In addition to looking at the sky in various ways, WorldWide Telescope can view planets from orbit or the surface. In order to do this we have to select
                        <strong>Look At</strong> to either
                        “SolarSystem” or “Planet”. Looking at the Planet isolates the planet and does not show the sky as a background. Your motion is also only relative to the center of the selected planet.
                    </p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/look_at_dropdown.jpg" alt="Look at solar system or planet" />
                    <p>
                        You can also
                        <strong>Look At</strong> SolarSystem. This allows you to investigate all the bodies of our solar system. For this example we will explore Earth as it has the largest amount of information. First, we have to enable the display of the most detailed datasets. This is done in the
                        <strong>Layer Manager</strong> controls on the left side of the screen or selected
                        <strong>Show Layer Manager</strong> under the
                        <strong>View</strong> menu. Under 3d Solar System, make sure “Mulit-Res Solar System Bodies” is checked.
                    </p>

                    <p> Now under the Earth object you can adjust what datasets you see. To see the most realistic clouds, select “8k Cloud Textures.” </p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/8k_cloud_textures.jpg" alt="Multi res 8k cloud textures" />
                    <p>
                        In order to see some additional data you will have to be
                        <strong>looking at</strong> the Earth rather than SolarSystem. Let’s select that now.
                    </p>

                    <p> One interesting thing you can do is view a cutaway of the Earth that shows the interior layers of structure. You can select this view in the Layer Manager on the left.  </p>
                    <img class="img-responsive img-border" src="@Model.ImgDir/learn/earth_core.jpg" alt="Earth Core" />
                    <p> Let’s put the Earth back to together and look at how we can view the surface. </p>

                    <p>
                        By default Earth views show 3d terrain and aerial data from Bing Maps. Note, that when
                        <strong>looking at</strong> the Earth there is not a sky behind to view so atmospheric effects will be different than when viewing Earth in the
                        <strong>Look At </strong>SolarSystem mode.
                    </p>

                    <p> Explore Earth and the Planets in WorldWide Telescope to experience the Solar System yourself!</p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#VRinWWT">
                        Virtual Reality Support in WWT
                    </a>
                </h4>
            </div>
            <div id="VRinWWT" class="panel-collapse collapse">
                <div class="panel-body">
                    <!--<img class="img-responsive img-border" src="@Model.ImgDir/learn/occulus3.jpg" />-->
                    <p>WorldWide Telescope is embracing Virtual Reality!  WWT can now be used to put you inside a virtual universe using the Oculus Rift head mounted display.  You can take an early look at what is possible! </p>
                    <p>
                        Instructions for using Oculus in WWT are available
                        <a href="/Learn/SettingUp#Oculus">here</a> and you can download and play this this sample VR tour.  You can also freely explore the universe in VR, however, we recommend
                        <a href="/Learn/SettingUp#controllersandbuttons">using a controller</a> with physical buttons and knobs, like a midi or xbox controller.
                    </p>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#AstroImageData">
                        Adding Astronomical Image Data
                    </a>
                </h4>
            </div>
            <div id="AstroImageData" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>Astronomical Images, defined as those with overlay sky coordinates can be loaded directly into WorldWide Telescope (WWT) in several ways.</p>
                    <h5>Loading Local AVM-tagged Images</h5>
                    <p>Astronomical Visual Metadata (AVM) is a way to storing information about the original astronomical image in the header of a standard image file, such as TIFF and JPEG.  This standard uses existing header infrastructure and populates it with astronomy-specific metadata.  The relevant metadata to WWT is:</p>
                    <ul>
                        <li>Image Name</li>
                        <li>URL</li>
                        <li>Credits</li>
                        <li>Caption</li>
                        <li>World Coordinate System (WCS) coordinate information</li>
                    </ul>
                    <p>The idea behind AVM is to allow visualizers to manipulate colors, add annotations etc. and maintain the description of that manipulation – e.g., original data location, color representation – so that subsequent people know how it was created and how to interpret it.  For WWT, coordinates allow the image to be placed at the correct location on the sky.</p>
                    <p>
                        You can download AVM-tagged data from a variety of data sources.  If your favorite source of image data provider doesn’t currently include AVM tags, you can direct them to the AVM resources below. If you want to get a test image, you can browse for one in the Astropix website, which aggregates AVM-tagged images -
                        <a href="http://astropix.ipac.caltech.edu/" target="astropix">http://astropix.ipac.caltech.edu/</a>. Once you have it, you can add the data to WWT by:
                    </p>
                    <ol>
                        <li>Make sure you are in Sky Mode.</li>
                        <li>Under the Explore Tab, click on Open/Astronomical Image…</li>
                        <li>Browse to the appropriate file. </li>
                        <li>WWT will load the data into WWT and add it to a default collection called “Open Collections,” shown in the upper left-hand part of WWT.  You can right click and add it to a collection of your choice for image organization after you have loaded it.</li>
                        <li>You can right-click on the image in the collection and select “Properties” to see the image, coordinates, image name, caption, URL.  These values are all pulled from the AVM tags when the file is read.</li>
                        <li>You can adjust the cross-fader to change the opacity of this overlaid image on top of the current background.</li>
                        <li>You can also adjust the Image Alignment by pressing CTRL+E to open the Image Alignment instructions.</li>
                    </ol>
                    <br />
                    <p>
                        <img class="img-responsive img-border" src="@Model.ImgDir/learn/image_alignment.jpg" alt="image alignment instructions" data-coords="00,32" />
                    </p>
                    <h5>Loading Remotely-served AVM-tagged Images</h5>
                    <p>In a similar fashion, you can point your browser to an AVM-tagged image on the Internet and it will show the image in your browser in a similar overlay using web controls, with a link to view the image in WWT.  Clicking this send this image to the WWT desktop client and allows display control and exploration, similar to interaction with local AVM-tagged Images, above.  You can try this out for yourself.</p>
                    <ol>
                        <li>
                            Open the following URL in your browser -
                            <a href="//worldwidetelescope.org/Developers/ImportImage">//worldwidetelescope.org/Developers/ImportImage</a> - or click on “Develop />Import Image in this documentation”.
                        </li>
                        <li>
                            Paste the URL to this composite X-ray and Infrared image of Puppis A, which has already been AVM-tagged into the Image URL input field on the web-page.  You can also put the URL of the AVM-tagged image after the URL to the image import page, separated by “#”, as:
                            <a href="//worldwidetelescope.org/Developers/ImportImage#http://images.ipac.caltech.edu/spitzer/sig14-022/spitzer_sig14-022_2051.jpg">//worldwidetelescope.org/Developers/ImportImage#http://images.ipac.caltech.edu/spitzer/sig14-022/spitzer_sig14-022_2051.jpg</a>
                        </li>
                        <li>This will open the image the webpage with control over image cross-fade and full-screen in the lower right.  You can also click the button to the left of the cross-fader which opens the image in the WWT desktop client.</li>
                    </ol>
                    <p>
                        <img class="img-responsive img-border" src="@Model.ImgDir/learn/AVM_Import.jpg" alt="AVM Import" data-coords="323,217" />
                    </p>
                    <h5>Loading FITS Files</h5>
                    <ol>
                        <li>Make sure you are in Sky Mode.</li>
                        <li>Under the Explore Tab, click on Open/Astronomical Image…</li>
                        <li>Browse to the appropriate FITS data file.  This can be pulled from the Internet or from an attached telescope or a local file.  </li>
                        <li>WWT will load the FITS file into WWT and add it to a default collection called “Open Collections,” shown in the upper left-hand part of WWT.  You can right click and add it to a collection of your choice for image organization after you have loaded it.</li>
                        <li>Note that FITS files contain pixels, which are mapped to physical coordinates, and data values.  To view the image data values must be mapped to colors.  The default color map is a linear greyscale one where the lowest value is mapped to black and the highest to white, with linear steps in between.  You can interactively adjust this mapping by clicking on the Scale button, which opens the Histogram dialog box. </li>
                        <li>In the Histogram dialog you can select the mapping function between Linear, Log, Power, Square Root and Histogram Equalization.</li>
                        <li>You can change the minimum and maximum data ranges by moving the red and green vertical lines, respectively.  If you move the green line to the left of the red line, this inverts the mapping and low values will be show white and high values black.</li>
                        <li>Grabbing the blue circle in the middle will allow you to keep the mapping function width of the function and move it through the histogram left and right.</li>
                        <li>You can adjust the cross-fader to change the opacity of this overlaid image on top of the current background.</li>
                    </ol>
                    <br />
                    <p>
                        <img class="img-responsive img-border" src="@Model.ImgDir/learn/histogram.jpg" alt="adjust the cross fader" data-coords="00,32" />
                    </p>
                    <p>AVM Resources:</p>
                    <ul>
                        <li>
                            VAMP -
                            <a href="http://www.virtualastronomy.org/avm_metadata.php">http://www.virtualastronomy.org/avm_metadata.php</a>
                        </li>
                        <li>
                            Astropix Home Page -
                            <a href="http://astropix.ipac.caltech.edu">http://astropix.ipac.caltech.edu</a>
                        </li>
                        <li>
                            Astropix Image Browser -
                            <a href="http://astropix.ipac.caltech.edu/browse">http://astropix.ipac.caltech.edu/browse</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#AddingWMSData">
                        Adding WMS Data
                    </a>
                </h4>
            </div>
            <div id="AddingWMSData" class="panel-collapse collapse ">
                <div class="panel-body">
                    <p>WWT can read Web Mapping Service (WMS) data from various data services.  WMS data are served by various sources, and often show time-varying map overlays which can be displayed on the Earth or planets.  In the example below, we will add a time-sequence of WMS maps showing wild fires in Yellowstone, but a similar process would be used to add other mapping data for other planets.</p>

                    <img class="img-responsive" src="@Model.ImgDir/learn/mapping_data.jpg" alt="mapping data" />
                    <ol>
                        <li>In the Layer Manager, under the Sun, right-click on the Earth and select "New WMS Layer" to bring up the WMS wizard. </li>
                        <li>
                            In this example, we will use the default server at NASA Goddard Space Flight Center, which is identified by the Web Mapping Service URL field “
                            <a target="_blank" href="http://svs.gsfc.nasa.gov/cgi-bin/wms">http://svs.gsfc.nasa.gov/cgi-bin/wms</a>.” You could also enter a URL from the list below or construct your own list to choose from.  Set the “Server Name” to something like “Goddard” and click the "Add Server" button to add this to your Server List.
                        </li>
                        <li>
                            Click on “Goddard (
                            <a href="http://svs.gsfc.nasa.gov/cgi-bin/wms" target="_blank">http://svs.gsfc.nasa.gov/cgi-bin/wms</a>), and then click the “Get Layers Button” receive a list of available layers.
                        </li>
                        <li>Data providers categorize WMS data; for this example, expand – by pressing the “+” to the left of “Agriculture,” and then further expand the “Wildlife Growth around Yellowstone National Park in 1988” to show “Wildlife Growth around Yellowstone National Park in 1988 (1024x1024 Animation).”</li>
                        <img class="img-responsive" src="@Model.ImgDir/learn/wildlife_growth.jpg" alt="yellowstone wildlife growth" />
                        <li>Then press the “Add” button in the lower right.  Close the dialog box by clicking “Close” to the right of “Add” button.  Now in the Layer Manager under Sun/Earth, there is a layer entitled “Wildlife Growth around Yellowstone National Park in 1988 (1024x1024 Animation).”</li>
                        <li>Since these data represent a time sequence as you scrub through time in the SolarSystem mode, the lighting and Earth rotation will change as well and you will not view the same location on the Earth as time changes. To be able to scrub through time, you should Look At: Earth.</li>
                        <li>Make sure the checkbox next to “Wildlife Growth around Yellowstone National Park in 1988 (1024x1024 Animation)” under Sun/Earth in the Layer Manager is checked.</li>
                        <li>Find Yellowstone National Park on the Earth.</li>
                        <li>Move the Time Scrubber, which is shown below the Layer Manager.  You will see a sequence of different maps.  Note, the colors are chosen by the WMS data provider and you should go to the data source to find out what the color represent.  Note, that as you move the Time Scrubber, Observing Time in the View tab also shows the detailed time/date.</li>
                    </ol>
                    <p>Here are some WMS sources to experiment with:</p>
                    <ol>
                        <li>
                            NASA GSFC –
                            <a href="http://svs.gsfc.nasa.gov/cgi-bin/wms" target="_blank">http://svs.gsfc.nasa.gov/cgi-bin/wms</a>
                        </li>
                        @*<li>MBARI – <a href="http://odss.mbari.org/thredds/wms/ucsc/sst" target="_blank">http://odss.mbari.org/thredds/wms/ucsc/sst</a> </li>*@
                        <li>
                            GIBS –
                            <a href="http://map1.vis.earthdata.nasa.gov/twms-geo/twms.cgi" target="_blank">http://map1.vis.earthdata.nasa.gov/twms-geo/twms.cgi</a>
                        </li>
                        <li>
                            NEOWMS NASA SCI –
                            <a href="http://neowms.sci.gsfc.nasa.gov/wms/wms" target="_blank">http://neowms.sci.gsfc.nasa.gov/wms/wms</a>
                        </li>
                        <li>
                            JPL NewMoon –
                            <a href="http://onmoon.jpl.nasa.gov/wms.cgi" target="_blank">http://onmoon.jpl.nasa.gov/wms.cgi</a>
                        </li>
                        <li>
                            NASA OnMoon –
                            <a href="http://onmoon.lmmp.nasa.gov/wms.cgi" target="_blank">http://onmoon.lmmp.nasa.gov/wms.cgi</a>
                        </li>
                        <li>
                            NASA On Mars –
                            <a href="http://OnMars.jpl.nasa.gov/wms.cgi" target="_blank">http://OnMars.jpl.nasa.gov/wms.cgi</a>
                        </li>
                        <li>
                            NASA WorldWind -
                            <a href="http://data.worldwind.arc.nasa.gov/wms" target="_blank">http://data.worldwind.arc.nasa.gov/wms</a>
                        </li>
                        <li>
                            Moon  Modeling –
                            <a href="http://onmoon.lmmp.nasa.gov/sites_a/wms.cgi" target="_blank">http://onmoon.lmmp.nasa.gov/sites_a/wms.cgi</a>
                        </li>
                        <li>
                            Moon  Modeling 1 –
                            <a href="http://onmoon.lmmp.nasa.gov/sites/wms.cgi" target="_blank">http://onmoon.lmmp.nasa.gov/sites/wms.cgi</a>
                        </li>
                        @*<li>NASA OnEarth WMS – <a href="http://onearth.jpl.nasa.gov/wms.cgi" target="_blank">http://onearth.jpl.nasa.gov/wms.cgi</a> </li>
                            <li>NASA Earth Observatory – <a href="http://neowms.sci.gsfc.nasa.gov/wms/wms" target="_blank">http://neowms.sci.gsfc.nasa.gov/wms/wms</a> </li>*@
                    </ol>
                    @*<p>(from <a href="http://www.layerscape.org/Home/VisualizingContentinWWT" target="_blank">http://www.layerscape.org/Home/VisualizingContentinWWT</a>) </p>*@
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#UsingVOTables">
                        Using Virtual Observatory (VO) Tables
                    </a>
                </h4>
            </div>
            <div id="UsingVOTables" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>VO Tables are a standard exchange format of catalog data and queries to registries allow you to find, plot and interact with a wide variety of catalogs that have VO table interfaces.</p>
                    <p>First orient the view to a location, for this example the Pleiades open cluster.</p>
                    <ol>
                        <li>Make sure you are in Sky mode.</li>
                        <li>Under the Search Tab, select &ldquo;SIMBAD Search&hellip;&rdquo;</li>
                        <li>
                            Enter &ldquo;pleiades&rdquo; in the search box. This will orient your view to the Pleiades cluster and zoom in.
                            <br />
                            <img src="@Model.ImgDir/learn/simbad_search.jpg" alt="screen shot of simbad search dialog" class="img-responsive" />
                        </li>
                        <li>Next under the Search Tab, open the &ldquo;VO Cone Search/Registry Lookup&hellip;&rdquo;</li>
                        <li>
                            In the field &ldquo;NVO Registry Title Like&rdquo; enter &ldquo;Pleiades.&rdquo; And Click &ldquo;NVO Registry Search&rdquo; button.
                            <br />
                            <img src="@Model.ImgDir/learn/nvo_search_button.jpg" class="img-responsive img-border" alt="Screen shot of NVO Registry Search Button" />
                        </li>
                        <li>This will populate the bottom of the table with a list of registries (registered catalogs in this case).</li>
                        <li>
                            Click on a row to search that catalog. This will load values into &ldquo;Base URL.&rdquo; For this example select &ldquo;ZYJHK photometry in Pleiades&hellip;&rdquo; Since you are looking at the location of the Pleiades, you can click the checkbox next to &ldquo;from View.&rdquo; Set the Verbosity pull-down to &ldquo;Medium&rdquo; in order to return photometric measurements at all observed bands, rather than the default positions if the default &ldquo;Low&rdquo; is used. Then click &ldquo;Search&rdquo; on the right.
                            <br />
                            <img src="@Model.ImgDir/learn/verbosity_medium.jpg" class="img-responsive img-border" alt="screen shot of medium verbosity from view" />
                        </li>
                        <li>
                            This will plot the catalog entries of the returned table on the background sky image. The default is to plot circles at each location. Also, this table is added as a layer (default name is &ldquo;VO Table&rdquo;) under the &ldquo;Sky&rdquo; of the Layer Manager on the left. If you close this table, you can always right-click on the &ldquo;VO Table&rdquo; in the layer manager and select &ldquo;VO Table Viewer.&rdquo;
                            <br />
                            <img src="@Model.ImgDir/learn/vo_table_viewer.jpg" class="img-responsive img-border" alt="Screen shot of VO Table Viewer" />
                            <br />
                            <img src="@Model.ImgDir/learn/vo_plot.jpg" class="img-responsive img-border" alt="Screen shot of VO Table Plot" />
                        </li>

                        <li>Clicking on an entry of the returned table will center the display on the location of the catalog entry and show a label.</li>
                        <li>
                            10.	You can right-click on the VO Table layer in the layer manager and select
                            <strong>Copy</strong> and then you can paste the table into an Excel spreadsheet.
                        </li>
                        <li>
                            To do plotting, you can use TOPCAT, which is a free Java program available here:
                            <a href="http://www.star.bris.ac.uk/~mbt/topcat/">http://www.star.bris.ac.uk/~mbt/topcat/</a>. First download
                            <em>and run</em> TOPCAT &ndash; by double-clicking on the topcat-full.jar file.
                        </li>
                        <li>Then in the VO Table Viewer click the &ldquo;Broadcast&rdquo; button. This uses the SAMP messaging protocol to send the retrieved VO Table to TOPCAT for plotting.</li>
                        <li>
                            In TOPCAT, you can then select setup a scatter plot, but clicking the icon at the top menu.
                            <br />
                            <img src="@Model.ImgDir/learn/topcat.jpg" class="img-responsive img-border" alt="Screen shot of TOPCAT scatter plot selection" />
                        </li>
                        <li>
                            This brings up a scatter plot window. You can map columns to axes in the plotting window.
                            <br />
                            <img src="@Model.ImgDir/learn/topcat_scatter.jpg" class="img-responsive img-border" alt="Screen shot of TOPCAT scatter plot graph" />
                        </li>
                        <li>You can also save the current table out of TOPCAT as Comma Separated Variable (CSV) format for input into Excel.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#traversetraillayer">
                        Creating a Traverse Trail Layer
                    </a>
                </h4>
            </div>
            <div id="traversetraillayer" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>Tutorial contributed by A. David Weigel, Christenberry Planetarium, Samford University.</p>
                    <h5>Layers</h5>
                    <p>WorldWide Telescope can show many layers and types of data. A layer is an object or a dataset that can be placed into your viewing window.  There are many types of layers you can create, such as importing 3D objects, or displaying aurora evolution over time overlaid on the high latitudes of the Earth. This tutorial will demonstrate how to create a layer that displays the traverse trail of the Curiosity rover on Mars within Gale Crater towards Aeolis Mons (Mt Sharp).  The Layer Manager is located in the lower left of the screen and can be toggled on/off. </p>
                    <p>
                        <img class="img-responsive img-border" src="@Model.ImgDir/learn/Layer%20Manager%201.jpg" />
                    </p>
                    <p>
                        Within the Layer Manager, you can check boxes on and off to show the different visualizations that are built into WWT.  Expanding the
                        <strong>Earth</strong> menu will show six children layers, including
                        <strong>Overlays</strong>, the
                        <strong>Moon</strong> and the
                        <strong>ISS</strong>.  Likewise for
                        <strong>Mars</strong>, the only options are
                        <strong>Phobos and Deimos</strong>.
                    </p>
                    <ol>
                        <li>
                            To create our own layer for Mars, we first need to ensure that the Layerscape Excel Add-In is installed for your computer, which can be found here:
                            <a href="http://www.layerscape.org/Home/ExcelAddInWelcome" target="_blank">http://www.layerscape.org/Home/ExcelAddInWelcome.</a>
                        </li>
                    </ol>
                    <p>
                        Curiosity traverse coordinates courtesy of Joe Knapp (curiosityrover.com) can be found here:
                        <a href="http://curiosityrover.com/rovertrackfine.json" target="_blank">http://curiosityrover.com/rovertrackfine.json.</a>
                    </p>
                    <ol start="2">
                        <li>
                            Right-click and
                            <strong>Save As</strong> to save the file rovertrackfine.json.  Open the file with Microsoft Word and use
                            <strong>Replace</strong> (Ctrl-H) to replace the following characters enclosed in the double quotes (but don’t type in the quotes) from the JSON file with nothing: “[“  “]” “{“ “},” “}” . Save As a plain text file and ignore all prompts that formatting will be lost in doing so.
                        </li>
                    </ol>
                    <p>
                        <img class="img-responsive img-border" src="@Model.ImgDir/learn/Find-Replace.jpg" />
                    </p>
                    <ol start="3">
                        <li>
                            Open
                            <strong>Microsoft Excel</strong> and click
                            <strong>DATA/From Text</strong>. Import the plain text file just saved from Word. In the Text Import Wizard, choose
                            <strong>Delimited</strong> (default choice) and start import at row 2 if there is an empty row at the beginning of the data. In step 2, check the delimiter boxes for
                            <strong>Comma</strong> and
                            <strong>Other</strong> and in the Other box, type in a colon (:).  Step 3 can be skipped and click Finish.
                        </li>
                    </ol>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Text%20Import%201.jpg" />
                    </p>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Text%20Import%202.jpg" />
                    </p>
                    <p>Once imported, add a row at the beginning of the spreadsheet and label the columns with the appropriate labels (column B will be labeled Sol, and etc.). After labeling, delete the columns that only consist of labels (every other column). </p>
                    <ol start="4">
                        <li>Be sure to Save As and Excel Workbook and it should look something like this. </li>
                    </ol>
                    <p>
                        <strong>Note:</strong>The Excel spreadsheet used in this tutorial is available here as a reference:
                        <a href="@Model.ImgDir/learn/Curiosity Traverse.xlsx">Curiosity Traverse.xlsx</a>.
                    </p>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Excel%202.jpg" />
                    </p>
                    <ul>
                        <li>
                            <strong>Sol</strong> is the number of Martian day since landing (0).
                        </li>
                        <li>
                            <strong>LMST</strong> is Local Mean Solar Time.
                        </li>
                        <li>
                            <strong>ET</strong> is ephemeral time, or seconds elapsed since 1/1/2000, so subtracting ET at landing (Sol 0) from another data point gives elapsed mission time in seconds.
                        </li>
                        <li>
                            <strong>Longitude and Latitude</strong> are from a reference point that is defined with WWT.
                            <strong>Altitude</strong> is the elevation of the rover with respect to datum, essentially sea level for Mars.
                        </li>
                    </ul>
                    <ol start="5">
                        <li>
                            Now, open
                            <strong>WorldWide Telescope</strong>, go back to Excel and click on the
                            <strong>WWT</strong> heading.  Control-A selects all data and then click
                            <strong>Visualize Selection</strong>.  We are only interested in the
                            <strong>Longitude, Latitude and Altitude</strong> which are automatically mapped to their respective columns in the table.
                        </li>
                    </ol>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/AddIn%201.jpg" />
                    </p>
                    <ol start="7">
                        <li>
                            Change the
                            <strong>Layer Name</strong> to
                            <strong>Curiosity Traverse</strong>.
                        </li>
                        <li>
                            Change the
                            <strong>Reference Frame</strong> to
                            <strong>Mars</strong> (from Earth).  Make sure the WWT Label matches the highlighted data and that the distance is in meters.
                        </li>
                        <li>
                            Under the
                            <strong>Marker</strong> tab change the color to lime green (shows up very well on Mars and is my favorite color).
                            <strong>Hover Text</strong> should be none,
                            <strong>Scale Type</strong> Constant, and
                            <strong>Scale Factor</strong> can start at 1 or larger (it will be easy to find if its bigger and you don’t know where Gale Crater is located off the top of your head). Eventually we will want to change the Scale Factor to the smallest scale but we can do this through the layer property editor in WWT.
                            <strong>Marker Type</strong> should be Point.
                        </li>
                        <li>
                            Finally click
                            <strong>View in WWT</strong>.
                        </li>
                    </ol>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/AddIn%202.jpg" />
                    </p>
                    <p>
                        In WWT you should see the
                        <strong>Curiosity Traverse</strong> layer as a child of Mars (if not, check to make sure it isn’t under Earth, in which case you need to adjust the reference frame in Excel). Make sure the layer is turned on and find Gale Crater, you will see a large green marker.
                    </p>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Traverse%20Big.jpg" />
                    </p>
                    <ol start="10">
                        <li>
                            You can now turn down the scale all the way by right clicking the
                            <strong>Curiosity Traverse</strong> layer and selecting
                            <strong>Properties</strong>. Under the
                            <strong>Scale</strong> tab, slide the
                            <strong>Scale Factor</strong> to a number like 0.003 or lower.
                        </li>
                    </ol>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Properties.jpg" />
                    </p>
                    <ol start="11">
                        <li>
                            Now from the
                            <strong>Explore/Collections/Mars</strong> at the top of WWT, right click
                            <strong>Mars Orbiter Camera Imagery</strong> and select
                            <strong>Add as New Layer</strong> (be sure that it becomes a child of Mars). Right-click the layer and click
                            <strong>Background Image Set</strong>. Now the rover traverse map in overlaid on a higher resolution set of images of Gale Crater.
                        </li>
                    </ol>
                    <p>
                        <img class="img-border img-responsive" src="@Model.ImgDir/learn/Traverse%20Thin.jpg" />
                    </p>
                    <p>
                        <strong>Note:</strong> a copy of the traverse trail used for this tutorial in a layer (.wttl) file is available here as a reference:
                        <a href="@Model.ImgDir/learn/Curiosity Traverse.wwtl">Curiosity Traverse.wwtl</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#3DPrinting">
                        3D Printing from WorldWide Telescope
                    </a>
                </h4>
            </div>
            <div id="3DPrinting" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>You can print 3D terrains from Solar System bodies from WorldWide Telescope.  This could be done to create a 3d model of mountains, canyons or other terrain.  Currently 3D surface data is available for the Earth, the Moon and Mars.  You can select a region and then use WWT to create a file for printing in the Standard Tessellation Language (STL) format.</p>
                    <h5>Steps</h5>
                    <ol>
                        <li>
                            Startup WorldWide Telescope.
                            <br />
                            <img class="img-responsive img-border" src="@Model.ImgDir/learn/EarthandPlanet.jpg" alt="3d printing" />
                        </li>
                        <li>
                            Set the
                            <strong>Look At</strong> mode to the
                            <strong>Earth</strong> or the
                            <strong>Planet</strong> of your choice.  For this example, we will use Mars.  Select
                            <strong>Look At</strong> to be
                            <strong>Planet</strong> and then in the selection to the right select
                            <strong>Mars Visible Imagery</strong>.
                            <br />
                            <img class="img-responsive img-border" src="@Model.ImgDir/learn/Olympus%20Mons.jpg" alt="olympus mons" />
                        </li>
                        <li>
                            Move the view to show the region you want to print.  In this example we will make a model of Olympus Mons, which is the largest mountain on any planet of our Solar System – almost three times as tall as Mount Everest's height above sea level.
                            <br />
                            <img class="img-responsive img-border" src="@Model.ImgDir/learn/STL%20Dialog.jpg" alt="STL dialog" />
                        </li>
                        <li>
                            To print the terrain that is in view, choose
                            <strong>Export Current View as STL File for 3D Printing…</strong>
                        </li>
                        <li>
                            This will show a default region selection in yellow and bring up a dialog box where you can adjust exactly what is printed.
                            <br />
                            <img class="img-responsive img-border" src="@Model.ImgDir/learn/Export%20STL.jpg" alt="Export" />
                        </li>
                        <li>First you should make sure to define the region of the surface terrain you want to print.  You can grab and adjust one of the yellow region handles in the main view or enter the latitude and longitude coordinates in decimal degrees in the box.</li>
                        <li>
                            Next you can select the
                            <strong>Density</strong> of model.  Higher densities show more detail but the file sizes will be larger.
                        </li>
                        <li>
                            You can then specify the thickness of the base of the 3D printed model by changing the value of
                            <strong>Base (mm)</strong>.
                        </li>
                        <li>
                            By default the elevation is at 100%.  All the planets in our Solar System are large and massive; and relative to the size of the planets even the highest mountains don’t deviate from the planet’s spherical shape.  So you might want to exaggerate the vertical scale of the terrain by making the
                            <strong>Elevation %</strong> to be greater than 100%.
                        </li>
                        <li>
                            Press the
                            <strong>Export</strong> button which will open a box where you can specify the location and name of the output STL file.
                        </li>
                        <li>You can then print out the STL file on your attached 3D printer using a program, such as “3D Builder” or “MakerBot Desktop”.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#pyWWT">
                        Loading Data Using pyWWT
                    </a>
                </h4>
            </div>
            <div id="pyWWT" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        <em class="text-muted">Contributed by Mark SubbaRao, Adler Planetarium and John Zuhone, MIT.</em>
                    </p>
                    <p>
                        John Zuhone wrote a very nice python package &ndash;
                        <a href="http://www.jzuhone.com/pywwt/index.html">pyWWT</a> &ndash; that allows data import directly into WorldWide Telescope. Mark SubbaRao used this package to load and visualize extragalactic data into WWT and has written up an IPython notebook to illustrate the process.
                    </p>
                    <p>This document will go through the install from nuts to bolts to reproduce this visualization to learn more about using the pyWWT package and WWT. In this example we assume you are using pyWWT on the same Windows machine where you are running WorldWide Telescope. You can also run the python package on a different machine running Linux or MacOS and connect to WWT on the remote Windows machine over the network.</p>
                    <p>
                        There is good documentation on installation and usage of pyWWT on the project website -
                        <a href="http://www.jzuhone.com/pywwt/index.html">http://www.jzuhone.com/pywwt/index.html</a>. Below we take through one specific path, which will be useful if you are new to Python.
                    </p>
                    <h3>Step 1 - Installing Python (Anaconda)</h3>
                    <ol>
                        <li>
                            <p>
                                First download the Anaconda Python distribution
                                <a href="https://store.continuum.io/cshop/anaconda/">https://store.continuum.io/cshop/anaconda/</a>. You don&rsquo;t have to use this distribution, but instructions on adding the packages that pyWWT depends on will be specific to Anaconda. Note, you will have to provide an email to get to the download page. When you install the distribution, it is easier to install it for &ldquo;Just Me&rdquo;, rather than for &ldquo;All Users.&rdquo;
                            </p>
                            <p>Anaconda Python this includes most of the packages that are needed by pyWWT. If you are using another Python distribution, you will have to make sure the following are installed:</p>



                            <ul>
                                <li>NumPy</li>
                                <li>Matplotlib</li>
                                <li>AstroPy</li>
                                <li>Beautiful Soup 4</li>
                                <li>Requests</li>
                                <li>Dateutil</li>
                            </ul>
                        </li>

                        <li>
                            The only extra package you need to install is astroquery. First download and git -
                            <a href="http://git-scm.com/download/win">http://git-scm.com/download/win</a>. Run the installer and take the defaults until the page on &ldquo;Adjusting your PATH environment.&rdquo; On that page, select &ldquo;Use Git from the Window Command Prompt.&rdquo;
                            <img src="@Model.ImgDir/learn/Git Installer.jpg" alt="Git Installer PATH step" class="img-responsive img-border" />
                        </li>
                        <li>Now open the &ldquo;Anaconda Command Prompt,&rdquo; accessible through Windows Start Menu. Note, if you installed Anaconda for All Users, you have to run the command prompt as administrator.</li>
                        <li>
                            Install astroquery package:
                            <br />
                            <code>&gt; pip install git+http://github.com/astropy/astroquery.git#egg=astroquery</code>
                        </li>

                        <li>
                            While the Anaconda Command Prompt is open, install pyWWT:
                            <br />
                            <code>&gt; pip install pywwt</code>
                        </li>
                    </ol>

                    <h3>Running IPython Notebook</h3>
                    <p>Mark SubbaRao created an IPython Notebook to import and visualize extragalactic datasets.</p>
                    <ol>
                        <li>
                            First download the Notebook
                            <a href="@Model.ContentDir/learn/Visualizing Extragalactic Data in WWT.ipynb">here</a>.
                        </li>
                        <li>If it is not open already startup the &ldquo;Anaconda Command Prompt.&rdquo;</li>
                        <li>
                            Open up the Notebook viewer in a web browser:
                            <br />
                            <code>&gt;ipython notebook</code>
                        </li>

                        <li>
                            Import the downloaded Notebook by either dragging the &ldquo;Visualizing Extragalactic Data in WWT.ipynb&rdquo; file to the IPython Notebook viewer or clicking &ldquo;
                            <strong>click here</strong>&rdquo; at the top and navigate to the file.
                            <img src="@Model.ImgDir/learn/Importing Notebook.jpg" alt="Importing Notebook" class="img-responsive img-border" />
                        </li>
                        <li>After importing it click the blue &ldquo;Upload&rdquo; button.</li>
                        <li>Click on the Notebook title. This should open up the Notebook in a separate tab. The Notebook is made up of a series of cells, which can have various types of information, including code. The current cell is indicated.</li>
                        <li>
                            Click the &ldquo;Run Cell&rdquo; button, which will move past the first text cell to the first part of code &ldquo;In[1]&rdquo;
                            <img src="@Model.ImgDir/learn/Controlling Notebook.jpg" alt="Controlling Notebook" class="img-responsive img-border" />
                        </li>
                        <li>When you get to the &ldquo;In[2], which Acquires Data from GAMA database a status bar at the bottom of the cell will show the progress of downloading the database (2.6MB). Wait for the file to finish downloading and then run the next cell.</li>
                        <li>Before connecting to WWT using LCAPI, startup WorldWide Telescope. In this example, we are running on the same machine. If this is not the case, you can start it on the remote machine and then give the IP address of the WWT machine in In[4].</li>
                        <li>When you execute In[5], you will see a new &ldquo;GAMA Galaxies&rdquo; layer appear in the Layer Manager.</li>
                        <li>You can view this in SolarSystem mode and fly out to see the new dataset as well as the SDSS Galaxies shipped with WWT. Note, in the Layer Manger SDSS galaxies are called &ldquo;Cosmos (SDSS Galaxies)&rdquo;.</li>
                        <li>You can also switch to Sky mode and then right-click on the &ldquo;GAMA Galaxies&rdquo; layer and bring up the properties dialog box. In the Scale tab, use the slider to set Scale Factor to 16. In the Markers tab, select the &ldquo;Marker Type&rdquo; to be &ldquo;Circle.&rdquo; Then when you view the patch of sky where the GAMA galaxies are found and zoom in you will see the positions marked as circles.</li>
                        <li>You can edit the code to create other data columns in the Notebook and rerun to make a new data layer and play with adjusting the interactive visualization.</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#processingpanoramas">
                        Processing Panoramas
                    </a>
                </h4>
            </div>
            <div id="processingpanoramas" class="panel-collapse collapse">
                <div class="panel-body">

                    <p>Panoramas are wide field of view images taken with either wide-angle fish-eye lenses or stitched together from individual images take of a wide field of view scene.</p>

                    <p>This tutorial will walk through how to process these data so that they can be TOAST projected into a multi-resolution format that can be hosted in the Cloud.</p>

                    <p><strong>If you have a collection of images</strong>.</p>

                    <p>Many high resolution panoramas, especially ones obtained by remote space craft, are taken as a collection of individual images.&nbsp; In the case where you have a collection the first step is to stitch them together to create a single panorama image that can be processed for WWT (see below).</p>

                    <p>There are several programs that</p>
                    <ol>
                        <li>PTAssembler - <a target="external" href="http://www.tawbaware.com/ptasmblr.htm">http://www.tawbaware.com/ptasmblr.htm</a></li>
                        <li>Auto Stitch - <a target="external" href="http://matthewalunbrown.com/autostitch/autostitch.html">http://matthewalunbrown.com/autostitch/autostitch.html</a></li>
                        <li>GigaPan (hardware mount + software) - <a target="external" href="http://www.gigapan.com/">http://www.gigapan.com/</a></li>
                        <li>Image Composite Editor - <a target="external" href="http://research.microsoft.com/en-us/um/redmond/projects/ice/">http://research.microsoft.com/en-us/um/redmond/projects/ice/</a></li>
                    </ol>

                    <p>This tutorial uses Image Composite Editor (ICE).</p>

                    <p>Collect the images that cover as much of your field of view as possible. They do not need to be in any specific order or have any naming convention.&nbsp;</p>

                    <ol>
                        <li>Startup ICE.</li>
                        <li>Click "New Panorama From Images".</li>
                        <li>Navigate to the folder with the images. Assuming the folder had only the images to be stitched together, click Control-A to select all the images and then click "Open".</li>
                        <li>Under "Camera Motion" in the upper right, make sure "Auto-detect" is clicked.</li>
                        <li>At the upper menu, click "Stitch".</li>
                        <li>When it is finished it will show the images stitched together and projected. Leave the projection as "Cylindrical".&nbsp;</li>
                        <li>In the upper menu, click "Crop". You should probably not apply any crops.</li>
                        <li>In the upper menu, click "Export". In the upper right don't change any of the parameters, and click "Export to disk&hellip;"</li>
                    </ol>

                    <p><strong>If you have a panoramic image already.</strong></p>

                    @*<div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/NNBVB2QlADE"></iframe>
                        </div>*@

                    <p>Many cameras can obtain panoramic images directly. Examples are Ricoh Theta - <a target="external" href="https://theta360.com/en/">https://theta360.com/en/</a> and Kodak Pixpro - <a target="external" href="http://kodakpixpro.com/Americas/cameras/actioncamera/sp360.php">http://kodakpixpro.com/Americas/cameras/actioncamera/sp360.php</a> cameras.&nbsp; Even smart phones can capture panoramic images with software such as Microsoft's Photosynth - <a target="external" href="https://photosynth.net/">https://photosynth.net/</a> of the built-in camera app on iOS.&nbsp; This could be useful in capturing panoramic views of observatories or observational locations.&nbsp; Of course another important type of data are panoramic views of surfaces of other bodies of the Solar System.&nbsp; However the panoramic image was obtained, this image is the input to the next step, which is to use the SphereToaster tool.</p>

                    <ol>
                        <li>
                            Open the panorama and make sure that it is of the correct size. The input panorama file should be in equi-rectangular (aka cylindrical equidistant) projection.&nbsp; In this projection the panorama should be twice as wide as it is tall and should cover the entire 360 field of view.&nbsp; If the image is projected correctly but isn't the entire size, I recommend that you pad the image with black space.&nbsp; In this example, we will use a free Windows program called Irfanview (<a target="external" href="http://www.irfanview.com/">http://www.irfanview.com/</a>).&nbsp; You can open the image and the image dimensions are shown in the lower left corner.&nbsp; In this example, the image is 7872 x 1752 pixels.&nbsp;

                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12967831/adecb7c6-d02f-11e5-97c7-7e484d9a4e87.jpg" class="img-responsive img-border" alt="Irfanview1" title="click to view full size">
                        </li>
                        <li>
                            If you need to pad the image to be 2:1 then in Irfanview, under the Image menu, select "Change canvas size". In this example, the width of the image is 360 degrees but it covers the middle part and does not go to the top and bottom. Given that the width is 7872 the final height should be half that or 3936 pixels.&nbsp; Since the image is actually 1752 pixels high we have to pad 3936-1752=2184 pixels.&nbsp; This padding needs to be split equally to be added to the top and bottom; that is, 1092 to top and bottom and 0 to left and right.

                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12967832/adee49ce-d02f-11e5-8a08-1c7811e427a8.jpg" class="img-responsive">

                        </li>
                        <li>Then save the image and it should now have the dimensions 7872 x 2936.</li>
                        <li>Download the WWT SDK, available here: On the Tools page: <a href="//worldwidetelescope.org/Download/Tools">//worldwidetelescope.org/Download/Tools</a> click on "SDK with data pipeline and original ADK tools" which should link to: <a href="http://wwtweb.blob.core.windows.net/drops/WWTSDK.msi">http://wwtweb.blob.core.windows.net/drops/WWTSDK.msi</a>.</li>
                        <li>Install the SDK. It will install a folder: C:\Program Files (x86)\Microsoft Research\WorldWide Telescope SDK.&nbsp; Go into that folder and then into "Sphere Toaster" and then execute the program: "SphereToaster.exe".</li>
                        <li>
                            In SphereToaster start with the "Input" tab. Click "Open" and navigate to the padded image in equi-rectangular projection.&nbsp; Assuming you did your padding correctly, you should not have to change anything.<br />

                            <img src="https://cloud.githubusercontent.com/assets/9676722/12967829/adec5a1a-d02f-11e5-9183-266d27b603f8.jpg" class="img-responsive">
                        </li>

                        <li>Under the Output tab, select a folder where the processed files will be created. Note, that the total size of the processed data can be much more than the original, especially if the input image is compressed with much black, so make sure the output drive has sufficient space.&nbsp; The default Project Name is taken from the input file name, which you can change.&nbsp; This is the name of the output WTML file.</li>
                        <li>Under Type, choose "Panorama". In order to preserve transparency, keep the output format as PNG and do not select JPEG.</li>
                        <li>
                            Since you have padded the image in the previous step, under "Fill Option" select "No fill".
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12967830/adec5dd0-d02f-11e5-8b38-e9aaffe1001f.jpg" class="img-responsive" />
                        </li>

                        <li>
                            Under the WTML tab, you can give the descriptive information for the image.&nbsp; Under Title, you should give a descriptive (and short) title that will show up in WWT.&nbsp; Under Credits, you can put the caption information, including the credit to the person or organization who owns the copyright of the image.&nbsp; You can specify the URL (Credits URL) which points to web page that described the image or data.&nbsp; Assuming you are going to make this panorama available on-line you can specify the URL to the web server that will serve the panorama data (Storage URL).&nbsp; Note this can be changed easily if you don&rsquo;t set this now or change the location of the server later.
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12967828/adec3a4e-d02f-11e5-98e9-957b082eb8fd.jpg" class="img-responsive" />
                        </li>

                        <li>When you are finished entering this metadata, go back to the Output tab and click on: "Generate Pyramid + WTML".&nbsp; This will take a while.&nbsp; For this example (7,872 x 3,936) it took about 40 minutes on a reasonably fast PC.&nbsp; Note, that while it is working the GUI doesn't get updated and the window banner will show "WWT SphereToaster (Alpha) (Not Responding."&nbsp; It is actually running so don&rsquo;t close the window. It will report some progress in the Messages window in the lower right of the Output tab.&nbsp; When you first load the image it will report that it found the input image (&ldquo;Loaded C:\Users\docto\Downloads\Chang&rsquo;e 3.jpg&rdquo; in this example).&nbsp; You can check on it with the task manager or by looking at the properties of the output folder; the total output size should be increasing as the process runs and generates more files.&nbsp; When it is finished SphereToaster will report the number of tiles created and time to process the data.</li>
                        <li>
                            When this is complete, the process will create the following:
                            <ul>
                                <li>Folder full of tiles, e.g., &ldquo;Chang&rsquo;e 3&rdquo;</li>
                                <li>WTML file to use locally, &ldquo;Chang&rsquo;e 3LOCAL.wtml&rdquo;. This is only used for local testing and cannot be shared outside the machine you are working on.</li>
                                <li>WTML file to use when the data are on a web server, &ldquo;Chang&rsquo;e 3.wtml&rdquo;. Once the data are processed and moved to the specified server, sharing this file will provide access to it.</li>
                                <li>Thumbnail; the name is a lower case version of the title with spaces replaced with underscores (e.g.,, &ldquo;chang&rsquo;e_3.jpg&rdquo;)</li>
                            </ul>
                        </li>
                        <li>You can view the generated panorama by starting WorldWide Telescope and then double-clicking on the local version of the WTML file. In this example it is "Chang'e 3LOCAL.wtml".&nbsp; Note, that this points to the specific location on disk where you specified the output, so if you move that folder you have to edit this local WTML file.</li>
                        <li>The other version of the WTML file (Chang'e 3.wtml) is setup to point to a data on a web server. In the WTML file, you should review the location of (Url="[Storage Url]/Chang'e 3 Pano/{1}/{3}/{3}_{2}.jpg", &ldquo;Storage URL&rdquo; was specified in the WTML tab).&nbsp; After the image pyramid is created, you can move it to the web server and then use the &ldquo;Chang&rsquo;e 3.wtml&rdquo; to access the data over the web. If you move the data to a different web server, you need to change the server address in the Url tag in the WTML file.</li>
                    </ol>

                    <p>You can find additional information on how to use SphereToaster tool in the SDK (as well as the other tools) here: <a href="http://wwtstaging.azurewebsites.net/Developers/DataToolsGuide#WWTSphereToaster">//worldwidetelescope.org/docs/WorldWideTelescopeDataToolsGuide.html#WWTSphereToaster</a></p>


                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#processingallskyimages">
                        Processing All-Sky Images
                    </a>
                </h4>
            </div>
            <div id="processingallskyimages" class="panel-collapse collapse">
                <div class="panel-body">

                    <p>All-sky images are acquired by a variety of surveys and are usually created by combining together individual images into a full-sky mosaic.&nbsp; The process described below assumes that you are starting with an all-sky image and will walk through how to process these data so that they can be TOAST projected into a multi-resolution format that can be hosted in the Cloud.</p>


                    <ol>
                        <li>Download the WWT SDK, available here: On the Tools page: <a href="//worldwidetelescope.org/Download/Tools">//worldwidetelescope.org/Download/Tools</a> click on "SDK with data pipeline and original ADK tools" which should link to: <a href="http://wwtweb.blob.core.windows.net/drops/WWTSDK.msi">http://wwtweb.blob.core.windows.net/drops/WWTSDK.msi</a>.</li>
                        <li>Install the SDK. It will install a folder: C:\Program Files (x86)\Microsoft Research\WorldWide Telescope SDK.&nbsp; Go into that folder and then into "Sphere Toaster" and then execute the program: "SphereToaster.exe".</li>
                        <li>In SphereToaster start with the "Input" tab. Click "Open" and navigate to the padded image in equi-rectangular projection.&nbsp; Assuming you have a full 360 all-sky image, you should not have to change any of the numbers.</li>
                        <li>
                            Many all-sky surveys, such as this example, are in Galactic coordinates; check the &ldquo;Galactic Coordinates&rdquo; checkbox if that is the case.
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12994470/9384419e-d0e6-11e5-804e-321bfd1514f4.jpg" class="img-responsive" />
                        </li>
                        <li>Under the Output tab, select a folder where the processed files will be created. Note, that the total size of the processed data can be much more than the original, especially if the input image is compressed with much black, so make sure the output drive has sufficient space.</li>
                        <li>
                            Under Type, choose "Sky". In order to preserve transparency, keep the output format as PNG and do not select JPEG.
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12994471/93855a0c-d0e6-11e5-8886-9427016d9409.jpg" class="img-responsive" />
                        </li>
                        <li>
                            Under the WTML tab, you can give the descriptive information for the image. Under Title, you should give a descriptive (and short) title that will show up in WWT.&nbsp; Under Credits, you can put the caption information, including the credit to the person or organization who owns the copyright of the image.&nbsp; You can specify the URL (Credits URL) which points to web page that described the image or data.&nbsp; Assuming you are going to make this all-sky image available on-line you can specify the URL to the web server that will serve the all-sky data (Storage URL).&nbsp; Note this can be changed easily if you don&rsquo;t set this now or change the location of the server later.
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12994472/93863fd0-d0e6-11e5-81e0-0d5039bcaad7.jpg" class="img-responsive" />
                        </li>
                        <li>
                            When you are finished entering this metadata, go back to the Output tab and click on: "Generate Pyramid + WTML". This will take a while.&nbsp; For this example (roughly 6,000 x 3,000) it took about 22 minutes on a reasonably fast PC.&nbsp; Note, that while it is working the GUI doesn't get updated and the window banner will show "WWT SphereToaster (Alpha) (Not Responding."&nbsp; It is actually running so don&rsquo;t close the window. It will report some progress in the Messages window in the lower right of the Output tab.&nbsp; When you first load the image it will report that it found the input image (&ldquo;Loaded C:\Users\docto\Downloads\Milky Way CO.jpg&rdquo; in this example).&nbsp; You can check on it with the task manager or by looking at the properties of the output folder; the total output size should be increasing as the process runs and generates more files.&nbsp; When it is finished SphereToaster will report the number of tiles created and time to process the data (&ldquo;Created 1365 tiles in 1343.125 sec = 22.3854166666667 min (0.983974358974359 sec per tile)&rdquo; in this example), see below.
                            <br />
                            <img src="https://cloud.githubusercontent.com/assets/9676722/12994469/93838470-d0e6-11e5-9bd4-c157c2e06c1d.jpg" class="img-responsive" />
                        </li>
                        <li>
                            When this is complete, the process will create the following
                            <ul>
                                <li>Folder full of tiles, g., &ldquo;Milky Way CO&rdquo;</li>
                                <li>WTML file to use locally, &ldquo;Milky Way COLOCAL.wtml&rdquo;. This is only used for local testing and cannot be shared outside the machine you are working on.</li>
                                <li>WTML file to use when the data are on a web server, &ldquo;Milky Way CO.wtml&rdquo;. Once the data are processed and moved to the specified server, sharing this file will provide access to it.</li>
                                <li>Thumbnail; the name is a lower case version of the title with spaces replaced with underscores (e.g.,, &ldquo;milky_way_co.jpg&rdquo;)</li>
                            </ul>

                        <li>You can view the generated all-sky image by starting WorldWide Telescope and then double-clicking on the local version of the WTML file. In this example it is "Milky Way COLOCAL.wtml".&nbsp; Note, that this points to the specific location on disk where you specified the output, so if you move that folder you have to edit this local WTML file.</li>
                        <li>The other version of the WTML file without appended &ldquo;LOCAL&rdquo; (in this example, &ldquo;Milky Way CO.wtml&rdquo;) is setup to point to a data on a web server. In the WTML file, you should review the location of (Url="[Storage URL]/Milky Way CO/{1}/{3}/{3}_{2}.jpg", &ldquo;Storage URL&rdquo; was specified in the WTML tab).&nbsp; After the image pyramid is created, you can move it to the web server and then use the &ldquo;Milky Way CO.wtml&rdquo; to access the data over the web. If you move the data to a different web server, you need to change the server address in the Url tag in the WTML file.</li>
                    </ol>

                    <p>You can find additional information on how to use SphereToaster tool in the SDK (as well as the other tools) here:</p>
                    <p><a href="http://wwtstaging.azurewebsites.net/Developers/DataToolsGuide#WWTSphereToaster">//worldwidetelescope.org/Developers/DataToolsGuide#WWTSphereToaster</a></p>
                </div>
            </div>
        </div>

    </div>

</section>
