﻿@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/Learn/LeftNav.cshtml")
}
<section>
    <h2>Getting Started with WorldWide Telescope</h2>
    <p>The WorldWide Telescope Ambassadors program has excellent resources to get started with WWT, start with <a href="https://wwtambassadors.org/learn-how-use-worldwide-telescope">"Learn How To User WorldWide Telescope"</a> and see below</p>
    <p> You can use WorldWide Telescope by installing it on a Windows PC or using the Web Client </p>
    <h4>Use the WorldWide Telescope Web Client</h4>
    After <a href="/webclient/">launching the WorldWide Telescope Web Client</a>, click the down arrow under the <strong>Explore</strong> tab and select <strong>Tour WWT Features</strong>.

    <p>Alternatively, below please see some annotated screen shots of the WWT Web Client user interface</p>
    <p><img src="@Model.ImgDir/BasicUI.png" alt="WWT Web Client User Interface" class="img-responsive" /></p>
    <p><img src="@Model.ImgDir/LookAt.png" alt="WWT Web Client User Interfaces" class="img-responsive" /></p>
    <p><img src="@Model.ImgDir/LayerManager.png" alt="WWT Web Client User Interface" class="img-responsive" /></p>

                <h4> Install WorldWide Telescope on a Windows PC </h4>
                <p>After <a href="/Download/">downloading WorldWide Telescope</a>, install and launch the program.  Upon first opening the Home screen, you’ll find a dialogue box that tells you how to navigate in the WorldWide Telescope.</p>
                <h4>Learn More</h4>
                To learn more about WWT you can <a href="/Learn/UserGuide">check out the user guide</a>, the WorldWide Telescope Ambassadors' <a href="https://www.youtube.com/user/WWTAmbassadors">YouTube channel</a>, and our <a href="https://www.youtube.com/channel/UCjx-BjxGX6vvxALi9ziBfjA"> YouTube channel</a>, starting with the "Getting Started" video below:
                <div class="large-video-player autoresize" style="margin:16px 0">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/zooTDvbpdDQ" frameborder="0" allowfullscreen></iframe>
                </div>
                <br />
                <p>This video was rendered from a WorldWide Telescope tour: <a href="@Model.ContentDir/Tours/Getting Started with WWT - v1.2.wtt">Getting Started with WWT</a>.</p>
                If you have questions, please <a href="/Support/IssuesAndBugs">contact us.</a>
                <br />
    <h4>User Guide and Advanced Guide</h4>
    <p>Below are our beginning and advanced user guide. For all of our guides, please see the <a href="/Learn/UserGuide">User Guides</a> page.</p>
    <i>Click the title below to expand or collapse the panel.</i>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#userguide">
                        WorldWide Telescope User Guide
                    </a>
                </h4>
            </div>
            <div id="userguide" class="panel-collapse collapse ">
                <div class="panel-body">

                    <p>The WWT User Guide is aimed at newcomers to WWT as well as experienced users who would like a more detailed overview of the WWT features.</p>
                    <p>You can read the most updated version of our user guide <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-user-manual/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://www.gitbook.com/book/worldwidetelescope/worldwide-telescope-user-manual/details">gitbook page</a>.</p>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row home-features">
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-user-manual/content/">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-book"></i>
                                        <h4>Read Online</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-user-manual.pdf">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-pdf-o"></i>
                                        <h4>Download .pdf</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-user-manual.mobi">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-text-o"></i>
                                        <h4>Download .mobi</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-user-manual.epub">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-text"></i>
                                        <h4>Download .epub</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>For more details on the inner workings of WWT, see <a href="#advguide">the advanced user guide</a></p>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#advguide">
                        Advanced WWT Topics
                    </a>
                </h4>
            </div>
            <div id="advguide" class="panel-collapse collapse ">
                <div class="panel-body">
                    <p>This guide has been stitched together from advanced users. If you would like to contribute to it, please see the <a href="/GetInvolved/HelpOthers">Help Others Use WWT</a> page</p>
                    <p>You can read the most updated version of this guide <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/">online</a>, or download it in pdf, ePub, or Mobi format by following the download link on the <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/">gitbook page</a>.</p>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row home-features">
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="https://worldwidetelescope.gitbooks.io/worldwide-telescope-advanced-guides/content/">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-book"></i>
                                        <h4>Read Online</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-advanced-guides.pdf">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-pdf-o"></i>
                                        <h4>Download .pdf</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-advanced-guides.mobi">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-text-o"></i>
                                        <h4>Download .mobi</h4>
                                    </a>
                                </div>
                                <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                                    <a href="~/Docs/worldwide-telescope-advanced-guides.epub">
                                        <img src="/Content/images/gbox.png" class="img-responsive">
                                        <i class="fa fa-file-text"></i>
                                        <h4>Download .epub</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>

