<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
<li class="@(ViewBag.page == "Index"     ? "active" : "")"><a href="/Learn/">Getting Started</a></li>
<li class="@(ViewBag.page == "WhatsNew"  ? "active" : "")"><a href="/Learn/WhatsNew">What's New</a></li>
<li class="@(ViewBag.page == "Exploring" ? "active" : "")"><a href="/Learn/Exploring">Exploring</a></li>
<li class="@(ViewBag.page == "Authoring" ? "active" : "")"><a href="/Learn/Authoring">Authoring</a></li>
<li class="@(ViewBag.page == "SettingUp" ? "active" : "")"><a href="/Learn/SettingUp">Setting Up</a></li>