<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
<li class="@(ViewBag.page == "Index"     ? "active" : "")"><a href="/Learn/">Getting Started</a></li>
<li class="@(ViewBag.page == "UserGuide"  ? "active" : "")"><a href="/Learn/UserGuide">User Guide</a></li>
<li class="@(ViewBag.page == "DevGuide" ? "active" : "")"><a href="/Learn/DevGuide">Developer Guides</a></li>
<li class="@(ViewBag.page == "Advanced" ? "active" : "")"><a href="/Learn/Advanced">Advanced User Guide</a></li>
