@using System.Configuration
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script src="@Model.JsDir/pages/home.js?v=@Model.ResVer"></script>
    <script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
    <script>
        $(function () {
            wwt.home.init();
            //alert('local');
        });
    </script>
}
<div class="row" style="margin-top:125px;">
    <div class="col-md-10 col-md-offset-1">
        <h2>WorldWide Telescope Resources</h2>

        <div class="row home-features">

            <div class="col-md-4">
                <a href="/Use/Educators">
                    <img src="~/images/educators.png" class="img-responsive" />
                    <i class="fa fa-graduation-cap"></i>
                    <h4>Resources for Educators</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/GetInvolved/Develop">
                    <img src="~/images/develop.png" class="img-responsive" />
                    <i class="fa fa-laptop"></i>
                    <h4>Resources for Developers</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Use/Researchers">
                    <img src="~/images/astronomers.png" class="img-responsive" />
                    <i class="fa fa-wpexplorer"></i>
                    <h4>Resources for Astronomers</h4>
                </a>
            </div>

        </div>
        <div class="row home-features">
            <div class="col-md-4">
                <a href="/Use/Planetariums">
                    <img src="~/images/planetariums.png" class="img-responsive" />
                    <i class="fa fa-institution"></i>
                    <h4>Resources for Planetariums and Museums</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/Learn/">
                    <img src="~/images/installwwt.png" class="img-responsive" />
                    <i class="fa fa-book"></i>
                    <h4>Getting Started</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://www.youtube.com/channel/UCjx-BjxGX6vvxALi9ziBfjA/featured" target="_blank">
                    <img src="@Model.ImgDir/youtube-channel.jpg" class="img-responsive" />
                    <i class="fa fa-youtube-play"></i>
                    <h4>Check out our Videos</h4>
                </a>
            </div>
        </div>
        <div class="row home-features">

            <div class="col-md-4">
                <a href="/Download/">
                    <img src="@Model.ImgDir/webclient-thumbnails.jpg" class="img-responsive" />
                    <i class="fa fa-download"></i>
                    <h4>Install WorldWide Telescope for Windows</h4>
                </a>
            </div>
            <div class="col-md-4">
                <a href="javascript:location.href = wwt.wcLink">
                    <img src="~/images/exploreweb.png" class="img-responsive" />
                    <i class="fa fa-rocket"></i>
                    <h4>Explore WorldWide Telescope on the Web</h4>
                </a>
            </div>

            <div class="col-md-4">
                <a href="/GetInvolved/">
                    <img src="@Model.ImgDir/starz2.jpg" class="img-responsive" />
                    <i class="fa fa-users"></i>
                    <h4>Get Involved</h4>
                </a>
            </div>
        </div>
    </div>
</div>

    <br /><br />
