@using System.Configuration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Head{
    <script src="@Model.JsDir/pages/home.js?v=@Model.ResVer"></script>
    <script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
    <script>
        $(function () {
            wwt.home.init();
            //alert('local');
        });
    </script>
}

<h2>What would you like to do?</h2>
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row home-features">
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/Use/Educators">
                    <img src="~/images/educators.png" class="img-responsive" />
                    <i class="fa fa-graduation-cap"></i>
                    <h4>WWT Resources for Educators</h4>
                    <h5>Learn about the WWT Ambassadors</h5>
                </a>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/GetInvolved/Develop">
                    <img src="~/images/learntouse.png" class="img-responsive" />
                    <i class="fa fa-laptop"></i>
                    <h4>WWT Resources for Developers</h4>
                    <h5>Build on WWT Technologies</h5>
                </a>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/Use/Researchers">
                    <img src="~/images/astronomers.png" class="img-responsive" />
                    <i class="fa fa-space-shuttle"></i>
                    <h4>WWT Resources for Astronomers</h4>
                    <h5>Incorporate WWT into your Research</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row home-features">

            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/Use/Planetariums">
                    <img src="~/images/planetariums.png" class="img-responsive" />
                    <i class="fa fa-institution"></i>
                    <h4>WWT Resources for Planetariums and Museums</h4>
                    <h5>Set up WWT in a Dome or Kiosk</h5>
                </a>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/Learn/">
                    <img src="~/images/installwwt.png" class="img-responsive" />
                    <i class="fa fa-book"></i>
                    <h4>Learn to use WorldWide Telescope</h4>
                    <h5>Check out our User guides</h5>
                </a>
            </div>

            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/GetInvolved/">
                    <img src="@Model.ImgDir/starz2.jpg" class="img-responsive" />
                    <i class="fa fa-users"></i>
                    <h4>Get Involved with WWT</h4>
                    <h5>Share WWT and Join our Community</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="row home-features">
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="/Download/">
                    <img src="@Model.ImgDir/webclient-thumbnails.jpg" class="img-responsive" />
                    <i class="fa fa-download"></i>
                    <h4>Install WorldWide Telescope</h4>
                    <h5>Free Windows<sup>&reg;</sup> Application</h5>
                </a>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="javascript:location.href = wwt.wcLink">
                    <img src="~/images/exploreweb.png" class="img-responsive" />
                    <i class="fa fa-rocket"></i>
                    <h4>Explore WWT on the Web</h4>
                    <h5>View WWT on your Browser!</h5>
                </a>
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12">
                <a href="https://www.youtube.com/channel/UCjx-BjxGX6vvxALi9ziBfjA/featured" target="_blank">
                    <img src="@Model.ImgDir/youtube-channel.jpg" class="img-responsive" />
                    <i class="fa fa-youtube-play"></i>
                    <h4>Check out our videos</h4>
                    <h5>Learn more about WWT's world</h5>
                </a>
            </div>
        </div>
        @*<div class="row">
                <section class="col-md-8" style="vertical-align: top">



                </section>
                @if (ConfigurationManager.AppSettings["twitterId"] != "xxx")
                {
                    // need a valid twitter id
                    <style>
                        .row .twitter-widget-section iframe {
                            height: 1012px !important;
                        }
                    </style>
                    <section class="col-md-5 twitter-widget-section">
                        <h3 style="margin-bottom: 7px">Twitter</h3>
                        <hr style="margin: 0"/>
                        <a class="twitter-timeline" href="https://twitter.com/WWTelescope" data-widget-id="443201388147789827">Tweets by @@WWTelescope</a>
                        <script>
                            !function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = p + "://platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");
                        </script>

                    </section>
                }
            </div>*@
    </div>
</div>

                <br /><br />
