<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Download/">Download WWT</a></li>
@*<li class="@(ViewBag.page == "Beta" ? "active" : "")"><a href="/Download/Beta">Beta</a></li>*@
<li class="@(ViewBag.page == "Legacy" ? "active" : "")"><a href="/Download/Legacy">Legacy Version</a></li>
<li class="@(ViewBag.page == "Features" ? "active" : "")"><a href="/Download/Features">Features</a></li>
<li class="@(ViewBag.page == "Tools" ? "active" : "")"><a href="/Download/Tools">Tools</a></li>
<li class="@(ViewBag.page == "TourAssets" ? "active" : "")"><a href="/Download/TourAssets">Tour Assets</a></li>