<!--<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>  -->
<!-- <script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script> -->
<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/WWTinAction/">Overview</a></li>
<li class="@(ViewBag.page == "WWTinEducation" ? "active" : "")"><a href="/WWTinAction/WWTinEducation">WWT in Education</a></li>
<li class="@(ViewBag.page == "WWTinResearch"  ? "active" : "")"><a href="/WWTinAction/WWTinResearch">WWT in Research</a></li>