<li class="@(ViewBag.page == "index" ? "active" : "")"><a href="/news">WWT News</a></li>
<li class="@(ViewBag.page == "2016wwtprize"     ? "active" : "")"><a href="/news/2016wwtprize">AAS WWT Competition</a></li>
<li class="@(ViewBag.page == "onlinetraining"     ? "active" : "")"><a href="/news/onlinetraining">WWT On-line Training</a></li>
<li class="@(ViewBag.page == "eclipse2017"     ? "active" : "")"><a href="/news/eclipse2017">Eclipse 2017</a></li>
<li class="@(ViewBag.page == "planet9"     ? "active" : "")"><a href="/news/planet9">WWT and Planet Nine</a></li>
