@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	@Html.Partial("~/Views/Support/LeftNav.cshtml")
}
<script src="@Model.JsDir/controls/sdk.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
<link href="@Model.CssDir/SDK_style.css" rel="stylesheet" />
<iframe id='sdkFrame' src="/docs/worldwidetelescopeuserguide.html"></ifram\
<div class="rightContentContainer"></div>