@using System.Web.Mvc.Html

@{
    ViewBag.Title = "My WorldWide Telescope Profile";
    Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
    @Html.Partial("~/Views/Profile/LeftNav.cshtml")
}

@*<script>
    $(function() {
        $.post('Entity/RenderJson/None/Content/1/20').success(function() {
            console.log(arguments);
        }).error(function () {
            console.log(arguments);
        });
    })
</script>*@
@*<h1>My WWT Profile</h1>

<img src="@(Model.User.FindFirst("picture").Value)" class="pull-left" style="margin: 0 10px 10px 0; max-width: 120px;max-height: 120px" />
<p><strong>Name</strong>: @(Model.User.FindFirst("name").Value)</p>
<p><strong>Email</strong>: @(Model.User.FindFirst("email").Value)</p>
<p>
    <strong>Nickname</strong>: @(Model.User.FindFirst("nickname").Value)
</p>
<p><strong>Access Token</strong>: @(Model.User.FindFirst("access_token").Value)</p>
<p>
    <strong>User Id</strong>: @(Model.User.FindFirst("user_id").Value)
</p>
<p>This is a test page to show user data. To be replaced later with better information architecture and flow...</p>
<a class="btn btn-large btn-primary" href="/Logout">Log Out</a>*@

    @*@{
        Html.RenderAction("Render", "Entity", new
        {
            highlightType = HighlightType.Featured,
            entityType = EntityType.Content
        });
    }*@

@*<div class="articleSection hide" id="latestContent" highlighttype="<%=HighlightType.Latest%>" entitytype="<%=EntityType.Content%>" actionurl="<%=Url.Action(" ajaxrender", "Entity" )%>"></div>

    <div class="articleSection hide" id="popularContent" highlighttype="<%=HighlightType.Popular%>" entitytype="<%=EntityType.Content%>" actionurl="<%=Url.Action(" ajaxrender", "Entity" )%>"></div>

    <div class="articleSection hide" id="mostdownloaded" highlighttype="<%=HighlightType.MostDownloaded%>" entitytype="<%=EntityType.Content%>" actionurl="<%=Url.Action(" ajaxrender", "Entity" )%>"></div>*@