@using System.Web.UI.WebControls

<li class="@(ViewBag.page == "Index"?"active":"")"><a href="/About/">About</a></li>
<li class="@(ViewBag.page == "FAQ"?"active":"")"><a href="/About/FAQ">FAQ</a></li>
<li class="@(ViewBag.page == "Acknowledgments" ? "active" : "")"><a href="/About/Acknowledgments">Acknowledgments</a></li>
<li class="@(ViewBag.page == "WebClient" ? "active" : "")"><a href="/About/WebClient">Web Client</a></li>
<li class="@(ViewBag.page == "Data" ? "active" : "")"><a href="/About/Data">Data in WWT</a></li>
