
@{
    Layout = "~/Views/Shared/_ContentPage.cshtml";
    }

    @section leftnav
    {
        @Html.Partial("~/Views/News/LeftNav.cshtml")
}


<h1>2016 American Astronomical Society WorldWide Telescope Competition</h1>
<p>The American Astronomical Society and Explore Scientific are excited to announce the results of the 2016 WWT Prize.  Tours were judged in three categories: <strong>Research</strong>, <strong>Education</strong> or <strong>Planetarium</strong>, with a grand prize and special 2017 eclipse prize.</p>
<p>We had great tours submitted and are pleased to announce the 2016 winners.</p>
<p>&nbsp;</p>
<h4>Planetarium</h4>
<ul>
    <li><strong>First Place</strong> - <a href="/Community/#/ContentDetail/81795">Eclipse: Countdown to Totality (Beau Hartweg)</a></li>
    <li><strong>Second Place</strong> - <a href="/Community/#/ContentDetail/81796">Earth Day VR (David Weigel)</a></li>
    <li><strong>Third Place</strong> - <a href="/Community/#/ContentDetail/81797">A Solar System Perspective (Christina Moraitis) </a></li>
</ul>
<p>&nbsp;</p><h4>Education</h4>
<ul>
    <li><strong>First Place</strong> - <a href="/Community/#/ContentDetail/81801">Moon Phases Lab (Patricia Udomprasert)</a></li>
    <li><strong>Second Place</strong> - <a href="/Community/#/ContentDetail/81802">New Horizons: Mission to Pluto (Sumiyyah Jalalyar) </a></li>
    <li><strong>Third Place</strong> - <a href="/Community/#/ContentDetail/81803">A Parallax Lab for Astronomy 101 Classes (Ned Ladd) </a></li>
</ul>
<p>&nbsp;</p>
<h4>Research</h4>
<ul>
    <li><strong>First Place</strong> - <a href="/Community/#/ContentDetail/81794">Planet Nine Video Abstract (Konstantin Batygin)</a></li>
</ul><p>&nbsp;</p>
<h4>2016 Grand Prize</h4>
<ul>
    <li><a href="/Community/#/ContentDetail/81804">Transiting Exoplanets - Life in the Universe (Harry Houghton)</a></li>
</ul><p>&nbsp;</p>
<h4>Special Eclipse 2017 Prize</h4>
<ul>
    <li><a href="/Community/#/ContentDetail/81795">Eclipse: Countdown to Totality (Beau Hartweg) </a></li>
</ul>
<p>&nbsp;</p>
<h4>A big thanks to everyone who participated and our generous contest sponsors</h4>
<p style=text-align:center><a href="http://aas.org"><img alt="American Astronomical Society" src="@Model.ImgDir/news/aas-white-full-logo.png" class="img-responsive" /></a></p>
<p style=text-align:center><a href="http://explorescientificusa.com/" style=text-align:center;display:block><img alt="Explore Scientific" src="@Model.ImgDir/news/explore_scientific_logo.png" class="img-responsive" style="margin:0 auto" /></a></p>

@*<p>The American Astronomical Society it excited to announce a competition to create the best visual experiences using the American Astronomical Society&rsquo;s WorldWide Telescope (AAS-WWT) system.&nbsp; If you are an experienced WWT user and have made a cool tour, interactive or video in the past enter the contest!&nbsp; If you are new to WWT but have an astronomy story to tell, jump into WWT and make a tour to submit!&nbsp; The competition is open to everyone; there are no age or nationality restrictions.&nbsp; Submissions can be made in any of three categories: <strong>Research</strong>, <strong>Education</strong> or <strong>Planetarium</strong>.</p>
<p>Entries in any category can come in any of the following three formats:</p>
<ul>
    <li><strong>WWT Tour (wtt files).</strong> These files can be created with the Web Client (<a href="/webclient/">//worldwidetelescope.org/webclient/</a>) on <em>any</em> modern machine (less than 3 years old).&nbsp; WWT Tours can also be created using the Windows Desktop Client (<a href="/Download/">//worldwidetelescope.org/Download/</a>) which requires a modern Windows machine to run.&nbsp;</li>
    <li><strong>Embedded WWT Interactive.</strong> You can use the web controls to create a custom interactive for your website.&nbsp; An example interactive can be experienced here: <a href="http://planck.ipac.caltech.edu/wwt/">http://planck.ipac.caltech.edu/wwt/</a>.</li>
    <li><strong>Video</strong>. You can render out frames from WWT and compose them (potentially combining with other video asset) to create a video file.&nbsp; For videos we require a link a streaming version (e.g., YouTube).&nbsp;</li>
</ul>
<p>Below is documentation on making WWT Tours, making videos and embedding web controls.</p>
<ul>
    <li>Web Client: <a href="/Learn/Authoring#webauthoring">//worldwidetelescope.org/Learn/Authoring#webauthoring</a></li>
    <li>
        Desktop Client:
        <ul>
            <li>Slide-based tours: <a href="/Learn/Authoring#slidebasedtours">//worldwidetelescope.org/Learn/Authoring#slidebasedtours</a></li>
            <li>Using the timeline editor (advanced): <a href="/Learn/Authoring#timelineeditor">//worldwidetelescope.org/Learn/Authoring#timelineeditor</a></li>
        </ul>
    </li>
    <li>Adding audio to tours: <a href="/Learn/Authoring#dealingwithaudio">//worldwidetelescope.org/Learn/Authoring#dealingwithaudio</a></li>
    <li>Web Controls: <a href="/Developers/Embed">//worldwidetelescope.org/Developers/Embed</a></li>
    <li>Rendering to Video: <a href="/Learn/Authoring#rendertovideo">//worldwidetelescope.org/Learn/Authoring#rendertovideo</a></li>
    <li>Communities (cloud-based sharing): <a href="/Learn/Authoring#usingcommunities">//worldwidetelescope.org/Learn/Authoring#usingcommunities</a></li>
</ul>
<h3>Prizes</h3>
<p>There will be a first, second and third place prize in each category donated by the <a href="http://aas.org">American Astronomical Society</a> and <a href="http://explorescientificusa.com/">Explore Scientific</a>.&nbsp; Details on the prizes are coming soon!</p>
<h3>Entry Instructions</h3>
<p>Fill out the entry form at: <a href="http://wwtworkshops.org/">http://wwtworkshops.org/</a></p>
<h3>WWT Prize Submission</h3>
<p><a href="http://wwtworkshops.org/"><img alt="WWT Prize Submission" src="@Model.ImgDir/news/wwt-prize-submission.jpg" class="img-responsive" /></a></p>
<p>At the prize website you will have to create an account.&nbsp; This will allow you to manage your entries and for us to know to contact you if you win!&nbsp;</p>
<p>Submissions require you to select Category (<strong>Research</strong>, <strong>Education</strong> or <strong>Planetarium</strong>) and Format (<strong>Tour</strong>, <strong>Interactive</strong> or <strong>Video</strong>).&nbsp; You will also need to provide a title for your submission.</p>
<p>All submissions need to be on-line.&nbsp; If you are submitting a YouTube video or web interactive, you simply need to copy the URL to the on-line video or interactive and paste that into the entry website.&nbsp; You re all done!</p>
<p>If you have a WTT Tour you will provide the Tour Title in the entry site.&nbsp; You will first need to upload the tour into your private community through the WWT Community mechanism.&nbsp; Instructions on using communities is available here: <a href="/Learn/Authoring#usingcommunities">//worldwidetelescope.org/Learn/Authoring#usingcommunities</a></p>
<p>Detailed instructions are given below.</p>
<ol>
    <li>Get a Live ID:</li>
    <li>Go to the WWT home page: <a href="/home">//worldwidetelescope.org/home</a></li>
    <li>
        Click on the profile button (in green box below) and login to WWT using your Live ID:<br />
        <img alt="Sign in to WWT" src="@Model.ImgDir/news/sign-in-to-wwt.jpg" class="img-responsive img-border" />
    </li>
    <li>
        When you are logged in click again on your profile button, which should now be blue. This will show you a list of your <strong>Uploads</strong>, <strong>Communities</strong> and <strong>Requests</strong> [to join a community you manage].<br />
        <img alt="Sign in to WWT" src="@Model.ImgDir/news/logged-into-wwt.jpg" class="img-responsive" />
    </li>
    <li>You can either navigate to a community you have previously setup or you can create a new community for your submission here. Navigate to that community.&nbsp; And click the blue &ldquo;Add Content&rdquo; button.&nbsp; Navigate to your Tour and click the blue &ldquo;Publish&rdquo; button in the lower right.</li>
    <li>
        You will now see the Tour page for your uploaded tour. Copy the URL from the browser (something like: <a href="/Community/#/ContentDetail/81731">//worldwidetelescope.org/Community/#/ContentDetail/81731</a>). This is the URL you will paste into the URL field at the entry website (see above).<br />
        <img alt="Sign in to WWT" src="@Model.ImgDir/news/community-content.jpg" class="img-responsive img-border" />
    </li>
</ol>
<h4>A big thanks to the contest sponsors!</h4>
<p style=text-align:center><a href="http://aas.org"><img alt="American Astronomical Society" src="@Model.ImgDir/news/aas-white-full-logo.png" class="img-responsive" /></a></p>
<p style=text-align:center><a href="http://explorescientificusa.com/" style=text-align:center;display:block><img alt="Explore Scientific" src="@Model.ImgDir/news/explore_scientific_logo.png" class="img-responsive" style="margin:0 auto" /></a></p>*@