<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Use/">Install WWT Windows App</a></li>
@*<li class="@(ViewBag.page == "Beta" ? "active" : "")"><a href="/Download/Beta">Beta</a></li>*@
<li><a href="/Use/Embed">Embed WWT In Your Website</a></li>
<li class="@(ViewBag.page == "TourAssets" ? "active" : "")"><a href="/Use/TourAssets">Add 3D Models, Music, and Images to your Tours</a></li>
<li class="@(ViewBag.page == "Planetariums" ? "active" : "")"><a href="/Use/Planetariums">Museum and Planetarium Resources</a></li>
<li class="@(ViewBag.page == "Educators" ? "active" : "")"><a href="/Use/Educators">Educators Resources</a></li>
<li class="@(ViewBag.page == "Researchers" ? "active" : "")"><a href="/Use/Researchers">Researchers Resources</a></li>
