@{
	ViewBag.sdkUrl = "http://www.worldwidetelescope.org/html5sdk/1.0.0/wwtsdk" + (Request.QueryString["debug"] == null ? ".min" : "") + ".js";
}

<script src="@ViewBag.sdkUrl"></script>
<script src="@Model.JsDir/controls/WebControl.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/TourPlayer.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/pinch.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>



<li class="@(ViewBag.page == "Index" ? "active" : "")"><a href="/Interact/MilkyWay">View the Milky Way</a></li>
<li class="@(ViewBag.page == "Spectrum" ? "active" : "")"><a href="/Interact/Spectrum">Spectroscopy in Astronomy</a></li>
<li class="@(ViewBag.page == "GreatObservatories" ? "active" : "")"><a href="/Interact/GreatObservatories">Great Observatories</a></li>
<li class="@(ViewBag.page == "PlanetExplorer" ? "active" : "")"><a href="/Interact/PlanetExplorer">Planet Explorer</a></li>
<li class="@(ViewBag.page == "MoreNessies" ? "active" : "hide")"><a href="/Interact/MoreNessies">More Nessies</a></li>
<li class="@(ViewBag.page == "Debug" ? "active" : "hide")"><a href="/Interact/Debug">Debug</a></li>

