
<script src="@Model.JsDir/controls/sdk.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/move.js?v=@Model.ResVer"></script>
<script src="@Model.JsDir/controls/util.js?v=@Model.ResVer"></script>
@*<script src="<%= ConfigurationManager.AppSettings[" resourceslocation"] %>/scripts/jquery.hoverIntent.min.js"></script>
    <script src="<%= ConfigurationManager.AppSettings[" resourceslocation"] %>/scripts/VerticalScroller.js"></script>*@
<link href="@Model.CssDir/SDK_style.css" rel="stylesheet" />
<li class="@(ViewBag.page == "Index"               ? "active" : "")"><a href="/Developers/">Developers Overview</a></li>
<li class="@(ViewBag.page == "WWTSDK"              ? "active" : "")"><a href="/Developers/WWTSDK">WWT SDK</a></li>
<li class="@(ViewBag.page == "HTML5SDK"            ? "active" : "")"><a href="/Developers/HTML5SDK">HTML5 Control SDK</a></li>
<li class="@(ViewBag.page == "LayerControlAPI"     ? "active" : "")"><a href="/Developers/LayerControlAPI">Layer Control API</a></li>
<li class="@(ViewBag.page == "DataFilesReference"  ? "active" : "")"><a href="/Developers/DataFilesReference">Data Files Reference</a></li>
<li class="@(ViewBag.page == "DataToolsGuide"      ? "active" : "")"><a href="/Developers/DataToolsGuide">Data Tools Guide</a></li>
<li class="@(ViewBag.page == "ProjectionReference" ? "active" : "")"><a href="/Developers/ProjectionReference">Projection Reference</a></li>
<li class="@(ViewBag.page == "ImportImage"         ? "active" : "")"><a href="/Developers/ImportImage">Import Image</a></li>